.carrosselDestaque{
 	background: url(../img/background-parceiros.png);    
    background-attachment: fixed;
    background-position: center;
    background-size: cover ;
    position: relative;	
    margin-top: 28px;
}
	.carrosselDestaque .item{
		max-height: 390px;

	}
		.carrosselDestaque .item a{
	
		}
			.carrosselDestaque .item a figure{
		
			}
				.carrosselDestaque .item a figure img{
					display: block;
                    width: 100%;
                    margin: 0 auto;
				}