*{ 
	margin: 0;
	padding:0;
}
section.sessaoCarrosselPostsBlog {
	width: 100%;
	padding: 0 10px;
	position: relative;
}
	section.sessaoCarrosselPostsBlog h6.tituloSessaoCarrosselPost{
	    display: block;
	    width: 100%;
	    text-align: center;
	    font-family: var(--fontRobotoCondedesed);
	    font-size: 40px;
	    text-transform: uppercase;
	    font-weight: 100;
        margin-top: 40px;
        margin-bottom: 50px;
	}
	section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog{

	}
		section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button {
			background-size: cover!important;
			background-position: center!important;
			width: 50px;
			height: 50px;
			border: none;
			outline: none;
			position: absolute;
   			top: 50%;
		}
		section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoEsquerdaCarrosselPostBlog{
			background: url(../img/esquerda.svg);
			left: -40px;
		}		
		section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoDireitaCarrosselPostBlog{
			background: url(../img/direita.svg);
			right: -40px;
		}	
	section.sessaoCarrosselPostsBlog .carrosselPostsBlog{
    	width: 100%;
	}
		section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item{
			width: 100%;
			padding: 0 25px;
		}
			section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog{
				width: 100%;
				max-width: 350px;
				margin: 0 auto;
				border: 5px solid transparent;
			}
			section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog:hover {
			    border: 6px solid;
			    border-color: #f28383;
			    border-radius: 4px;
			    background: #f28383;
			    color: #ffffffd6;
			    transition: background .2s;
			    -webkit-transition: background .2s;
			    -moz-transition: background .2s;
			    -o-transition: background .2s;
			}
			section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog:hover .imagemDestaquePost {
				border: none;
			}
			section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog:hover .informacoesPost {
				border: none;
			}
				section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .imagemDestaquePost{
					position: relative;
					border-left: 1px solid;
				    border-top: 1px solid;
				    border-right: 1px solid;
				    border-color: #222222;
				}
				
					section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .imagemDestaquePost figure{

					}
						section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .imagemDestaquePost figure img{
							width: 100%;
							height: auto;
						}
				section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .leiaMaisPostsBlog{
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%,-50%);
					text-align: center;
					opacity: 0;
				    transition: linear .4s;
				    -webkit-transition: linear .4s;
				    -moz-transition: linear .4s;
				    -o-transition: linear .4s;
				}
				section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .imagemDestaquePost:hover .leiaMaisPostsBlog {
					opacity: 1;
				}
					section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .leiaMaisPostsBlog a{
						display: block;
						width: 100%;
						max-width: 131px;
						margin: 0 auto;
						color: #fff;
						text-transform: uppercase;
						font-size: 19px;
						font-family: var(--fontRobotoSlab);
						border: 3px solid #fff;
						padding: 7px 8px;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%,-50%);
						font-weight: 100;
						text-decoration: none;
					}
					section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .leiaMaisPostsBlog:before{
						content: '';
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						background-color: #00000082;
						top: 0;
						left: 0;					
					}
			section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .informacoesPost{
			    width: 100%;
			    text-align: center;
			    padding-top: 7px;
		        border: 1px solid #222222;
			}
				section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .informacoesPost h3.categoriaPost{
					margin: 0;
					display: inline-block;
					font-size: 13px;
					text-transform: uppercase;
					font-family: var(--fontRobotoSlab);
					font-weight: 100;
					text-align: center;
				}
				section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .informacoesPost span.dataPost{
				    font-size: 13px;
				    font-family: var(--fontRobotoSlab);
				    font-weight: 100;
				    text-align: center;
				}
				section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .informacoesPost h2.tituloPost{
					margin: 0;
					font-size: 27px;
					margin-top: 5px;
					font-family: var(--fontRobotoSlab);
					font-weight: 600;
				}
				section.sessaoCarrosselPostsBlog .carrosselPostsBlog .item article.postBlog .informacoesPost p.descricaoPost{
					font-size: 12px;
					text-align: center;
					display: block;
					width: 100%;
					padding: 0 7px;
					margin-top: 10px;
					font-family: var(--fontRobotoSlab);
					font-weight: 400;
				}
/* EXTRAS */
.showFilter {
	opacity: 1!important;
}
@media(max-width: 1250px){
	section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoDireitaCarrosselPostBlog {
		right: -15px;
	}
	section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoEsquerdaCarrosselPostBlog{
		left: -15px;
	}
}
@media(max-width: 1024px){
	section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoEsquerdaCarrosselPostBlog{
		left: -10px;
	}		
	section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoDireitaCarrosselPostBlog{
		right: -10px;
	}	
}
@media(max-width: 991px){
	section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoEsquerdaCarrosselPostBlog{
		left: -15px;
	}		
	section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoDireitaCarrosselPostBlog{
		right: -15px;
	}	
@media(max-width: 767px){ 
	section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoEsquerdaCarrosselPostBlog, section.sessaoCarrosselPostsBlog .botoesCarrosselPostsBlog button#botaoDireitaCarrosselPostBlog {
		display: none;
	}
	section.sessaoCarrosselPostsBlog h6.tituloSessaoCarrosselPost{
		font-size: 30px;
	}
}