.menuCategoria{
	background-color:  var(--rosaPrincipal);

}
	.menuCategoria .menu{
		width: 100%;
		text-align: center;
	}
		.menuCategoria .menu .borda{
			border: 2px solid #fff;
            border-bottom: none;
            border-top: none;
		}

		.menuCategoria .menu a:first-child .borda{
			border: 2px solid transparent;

		}

		.menuCategoria .menu a:last-child .borda{
			border: 2px solid transparent;

		}

			.menuCategoria .menu nav a{
				display: inline-block;
				text-decoration: none;
				color: #fff;
				padding: 4px 0px;
                margin: 0 -3px;
                width: 100%;
    			max-width: 204px;
			}
				.menuCategoria .menu nav a:hover{
					background: linear-gradient(to bottom, #fff 4%, #fff0 100%, transparent 100%);
				}
				.menuCategoria .menu nav a img{
					display: block;
					margin: 0 auto;
					max-width: 40px;
	 			}
	 			.menuCategoria .menu nav a h2{
	 				font-family:  var(--fontRobotoSlab);
	 				font-size: 24px;   
	 				margin-top: 10px;

	 			}

