section.mosaico_B{
	width: 100%;
	max-width: 1230px;
	margin: 50px auto;
}
	section.mosaico_B h6{
	    position: relative;
	    display: block;
	    width: 100%;
	    text-align: center;
	    font-family: var(--fontRobotoCondedesed);
	    font-size: 40px;
	    text-transform: uppercase;
	    font-weight: 100;
	    margin-top: 40px;
	    margin-bottom: 50px;
		
	}
		section.mosaico_B h6:before{
			content: " ";
    		display: block;
    		background: url(../img/floresDecorativasLeft.png);
    		height: 36px;
    		background-repeat: no-repeat!important;
    		width: 464px;
    		background-size: cover!important;
    		position: absolute;
    		left: 0;
    		position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform:translateY(-50%);
			-moz-transform:translateY(-50%);
			-o-transform:translateY(-50%);
		}
		section.mosaico_B h6:after{
			content:" ";
			display: block;
			background: url(../img/floresDecorativasRight.png);
			height: 36px;
    		background-repeat: no-repeat!important;
    		width: 464px;
    		background-size: cover!important;
    		position: absolute;
    		right: 0;
    		position: absolute;
			top: 50%;
			transform: translateY(-50%);
			-webkit-transform:translateY(-50%);
			-moz-transform:translateY(-50%);
			-o-transform:translateY(-50%);			
		}
	section.mosaico_B .mosaicoB{
	
	}
		section.mosaico_B .mosaicoB .categoriaLeft{
	
		}
		

			section.mosaico_B .mosaicoB .categoriaLeft a{
		
			}
				section.mosaico_B .mosaicoB .categoriaLeft a figure.modelo_A{
					display: block;
					position: relative;
				    height: 252px;


				}
				section.mosaico_B .mosaicoB .categoriaLeft a figure.modelo_A.primeiro{
					display: block;
					position: relative;
			    	height: 425px;
					background-size: cover!important;
					background-position: center!important;
					margin: 0 auto;
					width: 96%;

				}
					section.mosaico_B .mosaicoB .categoriaLeft a figure.modelo_A img{
						display: none;
						

					}
					section.mosaico_B .mosaicoB .categoriaLeft a figure.modelo_A h2{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform:translate(-50%, -50%);
						-moz-transform:translate(-50%, -50%);
						-o-transform:translate(-50%, -50%);
						color: #fff;
						border: solid #fff 5px;
						padding: 10px 50px;
						margin:0;
						text-transform: uppercase;
					}
				section.mosaico_B .mosaicoB .categoriaLeft a figure.modelo_B{
					display: block;
				    height: 200px;
				    position: relative;
					background-size: cover!important;
					background-position: center!important;
					margin: 0 auto;
					margin-top:25px;
					width: 96%;
				}
					section.mosaico_B .mosaicoB .categoriaLeft a figure.modelo_B img{
						display: none;
						
					}
					section.mosaico_B .mosaicoB .categoriaLeft a figure.modelo_B h2{
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						-webkit-transform:translate(-50%, -50%);
						-moz-transform:translate(-50%, -50%);
						-o-transform:translate(-50%, -50%);
						color: #fff;
						border: solid #fff 5px;
						padding: 10px 30px;
						margin:0;
						text-transform: uppercase;
					}
	section.mosaico_B .mosaicoB .categoriaRight a figure.modelo_A h2{

	}
		section.mosaico_B .mosaicoB .categoriaRight a figure.modelo_A{
			display: block;
			position: relative;
			height: 200px;
			margin: 0 auto;
			margin-bottom: 25px;
			background-size: cover!important;
			background-position: center!important;
			width: 96%;
			transition: transform .2s; /* Animation */
		}
			section.mosaico_B .mosaicoB .categoriaRight a figure.modelo_A img{
				display: none;
				
			}
			section.mosaico_B .mosaicoB .categoriaRight a figure.modelo_A h2{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				-webkit-transform:translate(-50%, -50%);
				-moz-transform:translate(-50%, -50%);
				-o-transform:translate(-50%, -50%);
				text-transform: uppercase;
				color: #fff;
				border: solid #fff 5px;
				padding: 10px 50px;
				margin:0;
			}
@media (max-width: 1024px) {
	section.mosaico_B h6{
		font-size: 34px;
	}
	section.mosaico_B h6:before{

		width: 414px;
		max-width: 372px;
	}
	section.mosaico_B h6:after{
		width: 417px;
		max-width: 372px;
	}
}

@media (max-width: 768px) {
	section.mosaico_B h6{
		font-size: 34px;
	}
	section.mosaico_B h6:before{
		width: 250px;
	}
	section.mosaico_B h6:after{
		width: 250px;
	}

 
@media (max-width: 425px) {
	section.mosaico_B h6{
		font-size: 25px;
	}
	section.mosaico_B h6:before{
		width: 126px;
	}
	section.mosaico_B h6:after{
		width: 126px;
	}

	@media (max-width: 375px) {
	
	section.mosaico_B h6:before{
		width: 126px;
		max-width: 99px;
	}
    section.mosaico_B h6:after{
	max-width: 110px;
     }
}

@media (max-width: 320px) {
	section.mosaico_B h6{
		font-size: 18px;
	}
	section.mosaico_B h6:before{
		max-width: 110px;
	}
	section.mosaico_B h6:after{
		width: 105px;
	}
}