*{ 
	margin: 0;
	padding:0;
}

.pg-marcas {

}
	.pg-marcas .secao-marcas {

	}
		.pg-marcas .secao-marcas nav {
   			margin-bottom: 450px;
		}
			.pg-marcas .secao-marcas nav a {

			}
		.pg-marcas .secao-marcas .renner {
			background-color: #d10a11;
	        transform: skewY(7deg);
	        position: relative;
		    bottom: 184px;
		    width: 100%;
		    margin: 130px 0;
		}
		
			.pg-marcas .secao-marcas .renner .logo-renner {

			}
				.pg-marcas .secao-marcas .renner .logo-renner img {
					width: 100%;
                    max-width: 322px;
                    display: block;
				    margin: 0 auto;
				    padding-top: 122px;
				    padding-bottom: 122px;
                   transform: skewY(-5deg);

				}
			.pg-marcas .secao-marcas .renner .modelo-renner {
		           transform: skewY(-5deg);


			}
				.pg-marcas .secao-marcas .renner .modelo-renner img {
     				position: absolute;
				    top: 50%;
				    margin-top: -50px;
				    width: 100%;
				    max-width: 254px;
       			}
			.pg-marcas .secao-marcas .renner .roupas-renner {

			}
				.pg-marcas .secao-marcas .renner .roupas-renner img {
					max-width: 333px;
				   transform: skewY(-5deg);


				}
			.pg-marcas .secao-marcas .renner .botao-confira-renner {
				transform: skewY(-5deg);
				padding: 12px 35px;
			    color: white;
			    font-size: 20px;
			    background: transparent;
			    border: solid;
			    display: block;
                margin: 0 auto;
			}

            .pg-marcas .secao-marcas .renner .botao-confira-renner:hover {
 				
			    background: #100f0f7a;
			    
			}


		.pg-marcas .secao-marcas .pernabucanas {
			background-color: blue;
	        transform: skewY(7deg);
	        position: relative;
		    bottom: 184px;
		    width: 100%;
		    margin: 130px 0;


		}
			.pg-marcas .secao-marcas .pernabucanas .roupas-pernabucanas {

			}
				.pg-marcas .secao-marcas .pernabucanas .roupas-pernabucanas img {
					max-width: 423px;
				   transform: skewY(-5deg);


				}
			.pg-marcas .secao-marcas .pernabucanas  .botao-confira-pernabucanas {
				transform: skewY(-5deg);
				padding: 12px 35px;
			    color: white;
			    font-size: 20px;
			    background: transparent;
			    border: solid;
			    display: block;
                margin: 0 auto;
			}

			.pg-marcas .secao-marcas .pernabucanas  .botao-confira-pernabucanas:hover {
 				
			    background: #100f0f7a;
			    
			}
			.pg-marcas .secao-marcas .pernabucanas .modelo-pernabucanas {
				    transform: skewY(-5deg);

			}
				.pg-marcas .secao-marcas .pernabucanas .modelo-pernabucanas img {
				    position: absolute;
				    top: 50%;
				    margin-top: -50px;
				    width: 100%;
				    max-width: 191px;
				    right: 0;

				}
			.pg-marcas .secao-marcas .pernabucanas .logo-pernabucanas {

			}
				.pg-marcas .secao-marcas .pernabucanas .logo-pernabucanas img {
					width: 100%;
                    max-width: 322px;
                    display: block;
				    margin: 0 auto;
				    padding-top: 122px;
				    padding-bottom: 122px;
                   transform: skewY(-5deg);

				}

	    .pg-marcas .secao-marcas .kanui {
			background-color: #d10a11;
	        transform: skewY(7deg);
	        position: relative;
		    bottom: 184px;
		    width: 100%;
		    margin: 130px 0;
		}
		
			.pg-marcas .secao-marcas .kanui .logo-kanui {

			}
				.pg-marcas .secao-marcas .kanui .logo-kanui img {
					width: 100%;
                    max-width: 322px;
                    display: block;
				    margin: 0 auto;
				    padding-top: 122px;
				    padding-bottom: 122px;
                   transform: skewY(-5deg);

				}
			.pg-marcas .secao-marcas .kanui .modelo-kanui {
		           transform: skewY(-5deg);


			}
				.pg-marcas .secao-marcas .kanui .modelo-kanui img {
     				position: absolute;
				    top: 50%;
				    margin-top: -50px;
				    width: 100%;
				    max-width: 191px;
       			}
			.pg-marcas .secao-marcas .kanui .roupas-kanui {

			}
				.pg-marcas .secao-marcas .kanui .roupas-kanui img {
					max-width: 333px;
				   transform: skewY(-5deg);


				}
			.pg-marcas .secao-marcas .kanui .botao-confira-kanui {
				transform: skewY(-5deg);
				padding: 12px 35px;
			    color: white;
			    font-size: 20px;
			    background: transparent;
			    border: solid;
			    display: block;
                margin: 0 auto;
			}

            .pg-marcas .secao-marcas .kanui .botao-confira-kanui:hover {
 				
			    background: #100f0f7a;
			    
			}




	@media (max-width: 991px) {

		.pg-marcas .secao-marcas .renner{
			    transform: skewY(0deg)!important;
			overflow: hidden;
		}
		.pg-marcas .secao-marcas .renner .modelo-renner img{
			max-width: 264px;
		}
		.pg-marcas .secao-marcas .renner .logo-renner img{
			transform: initial;
			max-width: 187px;
		}
		.pg-marcas .secao-marcas .renner .roupas-renner img{
			max-width: 244px;
		    transform: initial;

		}
		.pg-marcas .secao-marcas .renner .botao-confira-renner{
			transform: initial;

		}
		


	}



