*{ 
	margin: 0;
	padding:0;
}

.pgPrivacidade {

}
	.pgPrivacidade .menu-caminho {

	}
		.pgPrivacidade .menu-caminho nav {
			display: block;
		    width: 100%;
		    text-align: left;
		    margin: 0 auto;
		    padding-top: 30px;
		    max-width: 1100px;
		}
			.pgPrivacidade .menu-caminho nav a {
				font-size: 18px;
				color: #222222b5;
				display: inline-block;
				text-decoration: none;
				position: relative;
				margin-right: 25px;
				font-weight: 200;
				font-family: var(--fontreleway);
			}
			.pgPrivacidade .menu-caminho nav a:last-child i {
				display: none;
			}
				.pgPrivacidade .menu-caminho nav a i {
					display: block;
					font-size: 23px;
					position: absolute;
					width: 20px;
					top: 2px;
					right: -30px;
				}
					.pgPrivacidade .menu-caminho nav a.selecionado {
						color: var(--pretoPrincipal);
						font-weight: 500;
					}
	.pgPrivacidade h1 {
		text-align: center;
		font-family: var(--fontRobotoCondedesed);
		font-weight: 300;
		font-size: 45px;
	}
		.pgPrivacidade h1 strong {
			font-weight: 500;
		}
	.pgPrivacidade .sidebar {
		
	}
		.pgPrivacidade .sidebar ul,li {
			margin: 0;
		    padding: 0;
		    border: 0;
		    outline: none;
		    list-style: none;
		}
			.pgPrivacidade .sidebar ul li {

			}
				.pgPrivacidade .sidebar ul li nav {
					width: 100%;
				    max-width: 237px;
				}
					.pgPrivacidade .sidebar ul li nav h5 {
				        font-weight: 500;
				        font-size: 18px;
					    text-transform: uppercase;
					    color: var(--cinzaPrincipal);
				        padding: 7px 3px;
					    border: solid 3px var(--rosaPrincipal);
					    text-align: center;
					    font-family: var(--fontOswald);
					}
					.pgPrivacidade .sidebar ul li nav a {
						display: block;
					    text-decoration: none;
					    color: var(--rosaPrincipal);
					    font-family: var(--fontOswald);
					    font-size: 17px;
					    font-weight: 500;
					    line-height: 30px;
    					padding-left: 40px;
				    	position: relative;
					}
					.pgPrivacidade .sidebar ul li nav a:hover, .pgPrivacidade .sidebar ul li nav a:focus {
					    background: var(--rosaPrincipal);
					    border-radius: 12px;
					    color: white;
				        position: relative;
					}
				.pgPrivacidade .sidebar ul li .privacidade a:nth-child(2)::before {
				    content: "";
				    background: url(../img/icon-termos.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 13px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .privacidade a:nth-child(2):hover:before, .pgPrivacidade .sidebar ul li .privacidade a:nth-child(2):focus:before {
					content: "";
					background: url(../img/icon-termos-hover.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 13px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .privacidade a:nth-child(3)::before {
			        content: "";
				    background: url(../img/icon-politica.png) no-repeat;
				    width: 16px;
				    height: 22px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 15px;
			        top: 3px;
				}
				.pgPrivacidade .sidebar ul li .privacidade a:nth-child(3):hover:before, .pgPrivacidade .sidebar ul li .privacidade a:nth-child(3):focus:before {
				    content: "";
				    background: url(../img/icon-politica-hover.png) no-repeat;
				    width: 16px;
				    height: 22px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 15px;
			        top: 3px;
				}
				.pgPrivacidade .sidebar ul li .privacidade a:nth-child(4)::before {
			        content: "";
				    background: url(../img/icon-seguro.png) no-repeat;
				    width: 16px;
				    height: 22px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 15px;
			        top: 3px;
				}
				.pgPrivacidade .sidebar ul li .privacidade a:nth-child(4):hover:before, .pgPrivacidade .sidebar ul li .privacidade a:nth-child(4):focus:before {
				    content: "";
				    background: url(../img/icon-seguro-hover.png) no-repeat;
				    width: 16px;
				    height: 22px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 15px;
			        top: 3px;
				}
				.pgPrivacidade .sidebar ul li .ajuda a:nth-child(2)::before {
		            content: "";
				    background: url(../img/icon-cadastro.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .ajuda a:nth-child(2):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(2):focus:before {
			        content: "";
				    background: url(../img/icon-cadastro-hover.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .ajuda a:nth-child(3)::before {
		            content: "";
				    background: url(../img/icon-pedido.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .ajuda a:nth-child(3):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(3):focus:before {
			        content: "";
				    background: url(../img/icon-pedido-hover.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .ajuda a:nth-child(4)::before {
		            content: "";
				    background: url(../img/icon-trocas.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .ajuda a:nth-child(4):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(4):focus:before {
			        content: "";
				    background: url(../img/icon-trocas-hover.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .ajuda a:nth-child(5)::before {
		            content: "";
				    background: url(../img/icon-pagamento.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .ajuda a:nth-child(5):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(5):focus:before {
			        content: "";
				    background: url(../img/icon-pagamento-hover.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .parceria a:nth-child(2)::before {
		            content: "";
				    background: url(../img/icon-vender.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .parceria a:nth-child(2):hover:before, .pgPrivacidade .sidebar ul li .parceria a:nth-child(2):focus:before {
			        content: "";
				    background: url(../img/icon-vender-hover.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .parceria a:nth-child(3)::before {
		            content: "";
				    background: url(../img/icon-sapato.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
				.pgPrivacidade .sidebar ul li .parceria a:nth-child(3):hover:before, .pgPrivacidade .sidebar ul li .parceria a:nth-child(3):focus:before {
			        content: "";
				    background: url(../img/icon-sapato-hover.png) no-repeat;
				    width: 20px;
				    height: 20px;
				    background-size: cover;
				    background-position: center;
				    position: absolute;
				    left: 14px;
				    top: 5px;
				}
	.pgPrivacidade .secao-termos {
	    width: 100%;
	    margin: 0 auto;
	    max-width: 820px;
	}
		.pgPrivacidade .secao-termos h2 {
		    font-family: var(--fontRobotoCondedesed);
		    font-weight: 600;
		    font-size: 36px;
		    margin: 0 auto;
		}
		.pgPrivacidade .secao-termos span {
		    font-style: italic;
		    font-weight: 300;
		    font-family: var(--fontRobotoCondedesed);
		    font-size: 16px;
		}
		.pgPrivacidade .secao-termos .comprador{
	    	padding-top: 15px;
    	    padding-bottom: 0px;
		}
		.pgPrivacidade .secao-termos .aceitacao{
		    font-weight: 600;
   	 		padding: 6px 0;
		}
		.pgPrivacidade .secao-termos .sem-espaco {
		    padding-bottom: 0;
    		margin: 0 auto;
		}
		.pgPrivacidade .secao-termos p {
		    font-family: var(--fontRobotoCondedesed);
		    font-weight: 500;
		    font-size: 17px;
	        padding-bottom: 10px;
		}
		.pgPrivacidade .secao-termos h6 {
		    font-weight: 600;
		    font-size: 17px;
		    font-family: var(--fontRobotoCondedesed);
		    margin: 0;
		}
	.pgPrivacidade .secao-ajuda {
	    background: var(--rosaPrincipal);
	    color: white;
	    padding: 18px;
	    border-radius: 20px;
	}
		.pgPrivacidade .secao-ajuda ul {

		}
			.pgPrivacidade .secao-ajuda ul li {
			    list-style-type: circle;
			    list-style-position: inside;
		        font-size: 35px;
			}
			.pgPrivacidade .secao-ajuda ul li.ativo {
    			list-style-type: disc;
			}
				.pgPrivacidade .secao-ajuda ul li .pergunta {
				    font-family: var(--fontOswald);
				    font-size: 24px;
			        padding: 8px 0;
		            cursor: pointer;
		            font-weight: 400;
	                display: inline-block;
				}
				.pgPrivacidade .secao-ajuda ul li .pergunta.ativo {
				    font-weight: 500;
				}
				.pgPrivacidade .secao-ajuda ul li .resposta {
				    border-top: 1px solid white;
				    border-bottom: 1px solid white;
				    width: 100%;
				    padding: 10px 0;
				}
				.pgPrivacidade .secao-ajuda ul li .resposta.ativo {
					display: none;
				}
				.pgPrivacidade .secao-ajuda ul li .resposta span{
			 	    font-family: var(--fontOswald);
				    font-weight: 100;
				    margin: 0px auto;
				    font-size: 14px;
				    width: 100%;
				    max-width: 747px;
				    display: block;
				}
	.pgPrivacidade .secao-quero-vender {

	}
		.pgPrivacidade .secao-quero-vender h3 {
	        font-family: var(--fontRobotoCondedesed);
		    font-size: 38px;
		    color: black;
		    font-weight: 600;
		    padding: 7px 0;
		}
		.pgPrivacidade .secao-quero-vender .banner-principal-passos {
		    border-bottom: 1px solid var(--rosaPrincipal);
    		padding: 0px 0 60px 0;
		}
			.pgPrivacidade .secao-quero-vender .banner-principal-passos figure {

			}
				.pgPrivacidade .secao-quero-vender .banner-principal-passos figure img {
				    width: 100%;
					max-width: 850px;
				    display: block;
				}
		.pgPrivacidade .secao-quero-vender .saiba-como {
		    margin: 45px auto;
		}
			.pgPrivacidade .secao-quero-vender .saiba-como a {
		    	text-decoration: none;
			}
				.pgPrivacidade .secao-quero-vender .saiba-como a figure {
				    margin: 0 auto;
				    width: 100%;
				    max-width: 116px;
				}
					.pgPrivacidade .secao-quero-vender .saiba-como a figure img {

					}
				.pgPrivacidade .secao-quero-vender .saiba-como a .etiqueta {

				}
					.pgPrivacidade .secao-quero-vender .saiba-como a .etiqueta img {
					    width: 100%;
					    max-width: 85px;
					    display: block;
					    margin: 0 auto;
					}
				.pgPrivacidade .secao-quero-vender .saiba-como a .caminhao {

				}
					.pgPrivacidade .secao-quero-vender .saiba-como a .caminhao img {
					    width: 100%;
				         max-width: 100px;
					    display: block;
					    margin: 0 auto;
					}
				.pgPrivacidade .secao-quero-vender .saiba-como a .dinheiro {

				}
					.pgPrivacidade .secao-quero-vender .saiba-como a .dinheiro img {
					    width: 100%;
				       	max-width: 76px;
					    display: block;
					    margin: 0 auto;
					}
				.pgPrivacidade .secao-quero-vender .saiba-como a .duvida {

				}
					.pgPrivacidade .secao-quero-vender .saiba-como a .duvida img {
					    width: 100%;
		                max-width: 48px;
					    display: block;
					    margin: 0 auto;
					}
				.pgPrivacidade .secao-quero-vender .saiba-como a p {
			        color: black;
				    text-decoration: none;
				    text-align: center;
				    font-family: var(--fontOswald);
				    font-size: 25px;
				}
		.pgPrivacidade .secao-quero-vender .envie-agora {
		    width: 100%;
		    max-width: 685px;
		    margin: 0 auto;
		}
			.pgPrivacidade .secao-quero-vender .envie-agora .botao-envie-agora {

			}
				.pgPrivacidade .secao-quero-vender .envie-agora .botao-envie-agora button {
				    border: none;
				    color: white;
				    background: var(--rosaPrincipal);
				    width: 100%;
				    max-width: 610px;
				    height: 120px;
				    font-size: 50px;
				    font-family: var(--fontRobotoCondedesed);
				    font-weight: 600;
				    margin: 20px auto;
				    display: block;
				}
				.pgPrivacidade .secao-quero-vender .envie-agora .botao-envie-agora button:hover {
					background: var(--rosaHoverBotao);
				}
				.pgPrivacidade .secao-quero-vender .envie-agora .agendar {
				    text-align: center;
				    max-width: 262px;
				    border: 3px solid var(--rosaPrincipal);
				    padding: 35px;
				}
					.pgPrivacidade .secao-quero-vender .envie-agora .agendar a {
					    text-decoration: none;
					}
						.pgPrivacidade .secao-quero-vender .envie-agora .agendar a figure {
						    width: 100%;
						    max-width: 140px;
							margin: 0 auto;
						}
							.pgPrivacidade .secao-quero-vender .envie-agora .agendar a figure img {
							    width: 100%;
    							max-width: 120px;
							}
						.pgPrivacidade .secao-quero-vender .envie-agora .agendar a .casa {

						}
						.pgPrivacidade .secao-quero-vender .envie-agora .agendar a .caixa {

						}
						.pgPrivacidade .secao-quero-vender .envie-agora .agendar a p {
						    color: black;
						    text-decoration: none;
						    text-align: center;
						    font-family: var(--fontRobotoCondedesed);
						    font-weight: 600;
						    font-size: 20px;
						}
					.pgPrivacidade .secao-quero-vender .envie-agora .agendar span {
					    font-family: var(--fontRobotoCondedesed);
					    font-style: italic;
					    line-height: 0px;
					}
				.pgPrivacidade .secao-quero-vender .envie-agora .agendar-casa {
				    margin: 0 auto;
				}
				.pgPrivacidade .secao-quero-vender .envie-agora .agendar-caixa {
				    margin: 0 auto;
				}
	.pgPrivacidade .secao-contato {
	    border-top: 2px solid #adadad;
        padding: 28px 0;
        margin: 20px auto;
	}
		.pgPrivacidade .secao-contato .duvida {
		    
		}
			.pgPrivacidade .secao-contato .duvida h2 {
			    text-align: center;
			    font-family: var(--fontRobotoCondedesed);
			    font-weight: 300;
			    font-size: 37px;
			    margin-bottom: 0;
			}
			.pgPrivacidade .secao-contato .duvida p {
			    text-align: center;
			    font-family: var(--fontRobotoCondedesed);
			    font-size: 25px;
			    font-weight: 300;
			    margin: 0 0 40px;
			}
		.pgPrivacidade .secao-contato .contato {
		    text-align: center;
		    font-family: var(--fontRobotoCondedesed);
		    width: 100%;
		    max-width: 125px;
		    margin: 0 auto;
		}
			.pgPrivacidade .secao-contato .contato figure {
			    width: 100%;
			    max-width: 125px;
			}
				.pgPrivacidade .secao-contato .contato figure img {
				    max-width: 125px;
				    width: 100%;
				}
			.pgPrivacidade .secao-contato .contato p {
			    margin: 0;
    			font-size: 25px;
			}
			.pgPrivacidade .secao-contato .contato span {
			    font-size: 18px;
    			font-weight: 300;
			}
		.pgPrivacidade .secao-contato .chat {
	    	margin-right: 0;
		}
		.pgPrivacidade .secao-contato .email {

		}
		.pgPrivacidade .secao-contato .fone {
		    margin: 0;
		}
	.pgPrivacidade .pg-posso-enviar {

	}
		.pgPrivacidade .pg-posso-enviar .secao-posso-enviar {
	        width: 100%;
		    max-width: 900px;
		    margin: 0 auto;
		}
			.pgPrivacidade .pg-posso-enviar .secao-posso-enviar h2 {
			 	text-align: center;
			    font-family: var(--fontRobotoCondedesed);
			    font-weight: 400;
			    color: white;
			    background: var(--rosaPrincipal);
			    padding: 16px 0;
			    font-size: 33px;
		        margin: 40px auto;
	            width: 100%;
    			max-width: 700px;
			}
			.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas {
		        border-top: 1px solid var(--rosaPrincipal);
			    border-bottom: 1px solid var(--rosaPrincipal);
			    margin: 30px auto;
			}
				.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas {
				    width: 100%;
				    max-width: 700px;
				    margin: 0 auto;
				}
					.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas {
					    width: 100%;
					    max-width: 370px;
					    margin: 0 auto;
					}
						.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem {

						}
							.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem figure  {
							    width: 100%;
	    						max-width: 130px;
							    margin: 32px auto 2px;
							}
								.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem figure img {
								    width: 100%;
								    max-width: 130px;
								    margin: 0 auto;
								}
							.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem p {
							    text-align: center;
							    font-family: var(--fontRobotoCondedesed);
							    font-size: 30px;
							    color: black;
							    font-weight: 600;
							}
						.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas ul {
			       		    margin: 30px auto;
	    					padding: 0px 5px;
						}
							.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas ul li {
							    list-style-position: inside;
							    list-style-type: circle;
							    font-family: var(--fontRobotoCondedesed);
							    font-size: 17px;
							    padding: 5px 0;
							    line-height: 18px;
							}
			.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .botao-fechar {
		        width: 100%;
			    max-width: 800px;
			    margin: 30px auto;
			}
				.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .botao-fechar button {
				    border: none;
				    background: var(--rosaPrincipal);
				    color: white;
				    padding: 10px;
				    font-size: 24px;
				    font-family: var(--fontRobotoCondedesed);
				    width: 100%;
				    max-width: 150px;
				    font-weight: 300;
				}
				.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .botao-fechar button:hover {
					background: var(--rosaHoverBotao);
				}
	.pgPrivacidade .pecas-em-casa {

	}
		.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa {

		}
			.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa h2 {
				font-family: var(--fontRobotoCondedesed);
			    background: var(--rosaPrincipal);
			    color: white;
			    text-align: center;
			    font-weight: 300;
			    width: 100%;
			    max-width: 700px;
			    margin: 0 auto;
			    padding: 12px;
			    font-size: 27px;
			}
			.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario {
			    border-top: 1px solid var(--rosaPrincipal);
			    border-bottom: 1px solid var(--rosaPrincipal);
			    margin: 37px auto;
			    width: 100%;
			    max-width: 900px;
			    padding: 15px 0;
			}
				.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario {
				    width: 100%;
				    max-width: 700px;
				    margin: 0 auto;
				}
				.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form {

				}
				.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario .form-menor {

				}
				.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario .form-maior {
	    		    width: 100%;
				    max-width: 220px;
				    margin: 40px auto;
				}
					.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form label {
					    font-family: var(--fontRobotoCondedesed);
					    font-size: 15px;
					    padding: 15px 0 0;
					}
					.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form input {
					    display: block;
					    margin: 14px auto;
					    width: 100%;
					    max-width: 240px;
					    padding: 7px;
					    border: 1px solid black;
					    font-style: italic;
					    font-family: var(--fontRobotoCondedesed);
					}
					.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form .input-menor {
					    width: 100%;
					    max-width: 150px;
					    margin: 0;
					}
					.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form .input-maior {

					}
			.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar {

			}
				.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .botao {
				    margin: 0px auto 25px;
				}
					.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .botao button {
					    border: none;
					    background: var(--rosaPrincipal);
					    color: white;
					    font-family: var(--fontRobotoCondedesed);
					    font-size: 23px;
					    font-weight: 300;
					    width: 100%;
					    max-width: 135px;
					    padding: 6px 0;
					}
					.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .botao button:hover {
						background: var(--rosaHoverBotao);
					}
					.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .fechar {
					    margin: 0 auto;
					    width: 100%;
						max-width: 240px;
					}
					.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .solicitar {
					    text-align: right;
					    width: 100%;
					    max-width: 165px;
					}

@media(max-width: 1199px) {

	.pgPrivacidade .secao-termos {
		padding-left: 25px;
	}
	.pgPrivacidade .sidebar {
    	padding: 0 5px;
	}
	.pgPrivacidade .secao-quero-vender h3 {
	    font-size: 36px;
	}
}

@media(max-width: 991px) {
	.pgPrivacidade .sidebar ul li nav {
	    max-width: 500px;
    	margin: 0 auto;
    	padding: 0 10px;
	}
	.pgPrivacidade .sidebar ul li nav a {
	    padding-left: 168px;
	}
	.pgPrivacidade .secao-termos {
	    margin: 40px auto;
	    padding-left: 0;
	}
	.pgPrivacidade .secao-ajuda {
		margin: 30px auto 0;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even)::before {
		position: absolute;
		left: 140px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd)::before {
		position: absolute;
	    left: 140px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(even)::before {
		position: absolute;
		left: 140px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd)::before {
		position: absolute;
	    left: 140px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(even)::before {
		position: absolute;
		left: 140px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd)::before {
		position: absolute;
	    left: 140px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even):hover:before,.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even):focus:before {
		position: absolute;
		left: 140px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd):hover:before, .pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd):focus:before {
		position: absolute;
	    left: 140px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(even):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(even):focus:before {
		position: absolute;
		left: 140px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd):focus:before {
		position: absolute;
	    left: 140px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(even):hover:before,.pgPrivacidade .sidebar ul li .parceria a:nth-child(even):focus:before {
		position: absolute;
		left: 140px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd):hover:before,.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd):focus:before {
		position: absolute;
	    left: 140px;
	}
}

@media(max-width: 767px) {
	.pgPrivacidade .secao-termos {
		padding: 0 10px;
	}
	.pgPrivacidade .secao-contato .contato {
	    margin: 20px auto;
	    max-width: 148px;
	}
	.pgPrivacidade .secao-contato .contato figure {
	    max-width: 155px;
	}
	.pgPrivacidade .secao-contato .contato figure img {
	    max-width: 160px;
	}
	.pgPrivacidade .secao-ajuda {
	    width: 100%;
        max-width: 700px;
	}
	.pgPrivacidade .secao-quero-vender h3 {
	    text-align: center;
	}
	.pgPrivacidade .secao-quero-vender .banner-principal-passos figure img {
	    max-width: 740px;
	    margin: 0 auto;
	    padding: 0 10px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar-casa {
    	margin: 20px auto;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar {
	    max-width: 560px;
	}
	.pgPrivacidade .secao-quero-vender .saiba-como a figure {
		margin: 15px auto
	}
	.pgPrivacidade .menu-caminho nav {
		padding-left: 15px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas {
	    max-width: 518px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .botao-fechar {
        max-width: 620px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar h2 {
		max-width: 650px;
	    font-size: 30px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .botao button {
	    max-width: 205px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .fechar {
	    max-width: 205px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .solicitar {
	    text-align: center;
	    max-width: 205px;
	    margin: 15px auto;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario .form-maior {
	    max-width: 570px;
	    margin: 25px auto;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form input {
	    margin: 8px auto;
        max-width: 485px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario .form-menor {
	    width: 100%;
	    max-width: 405px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form label {
	    width: 100%;
	    max-width: 190px;
	    margin: 0 auto;
	    display: block;
        padding: 10px 0 0;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form .input-menor {
	    max-width: 190px;
	    margin: 0 auto;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa h2 {
	    max-width: 645px;
	}
}

@media(max-width: 720px) {

	.pgPrivacidade .secao-ajuda {
        max-width: 665px;
	}
	.pgPrivacidade .secao-quero-vender h3 {
    	font-size: 30px;
	}
}

@media(max-width: 635px) {
	.pgPrivacidade .secao-quero-vender .envie-agora .botao-envie-agora button {
	    max-width: 560px;
	    height: 110px;
	    font-size: 45px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar {
    	max-width: 515px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario .form-menor {
	   max-width: 405px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form input {
	    max-width: 390px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa h2 {
        max-width: 525px;
	    padding: 10px;
	    font-size: 22px;
	}
}

@media(max-width: 590px) {
	.pgPrivacidade .secao-quero-vender .envie-agora .botao-envie-agora button {
    	max-width: 510px;
	    font-size: 40px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar {
    	max-width: 475px;
	}
}

@media(max-width: 550px) {
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa h2 {
	    max-width: 470px;
	    padding: 9px;
	    font-size: 20px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario .form-menor {
	    max-width: 335px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form input {
	    padding: 6px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .botao button {
    	max-width: 205px;
    	padding: 5px 0;
    	font-size: 20px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .solicitar {
	    max-width: 205px;
	    margin: 10px auto;
	}
}

@media(max-width: 425px) {

	.pgPrivacidade .secao-ajuda {
    	max-width: 375px;
	}
	.pgPrivacidade .secao-ajuda ul .pergunta {
		font-size: 20px;
	}
	.pgPrivacidade .secao-contato .duvida p {
	    font-size: 22px;
	}
	.pgPrivacidade .secao-contato .duvida h2 {
	    font-size: 30px;
	}
	.pgPrivacidade .sidebar ul li nav a {
    	padding-left: 120px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even)::before {
		position: absolute;
	    left: 92px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd)::before {
		position: absolute;
        left: 92px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(even)::before {
		position: absolute;
	    left: 92px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd)::before {
		position: absolute;
        left: 92px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(even)::before {
		position: absolute;
	    left: 92px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd)::before {
		position: absolute;
        left: 92px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even):hover:before,.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even):focus:before {
		position: absolute;
	    left: 92px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd):hover:before, .pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd):focus:before {
		position: absolute;
        left: 92px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(even):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(even):focus:before {
		position: absolute;
	    left: 92px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd):focus:before {
		position: absolute;
        left: 92px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(even):hover:before,.pgPrivacidade .sidebar ul li .parceria a:nth-child(even):focus:before {
		position: absolute;
	    left: 92px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd):hover:before,.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd):focus:before {
		position: absolute;
        left: 92px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .botao-envie-agora button {
	    max-width: 387px;
	    font-size: 32px;
	    height: 85px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar {
    	max-width: 364px;
    	padding: 20px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar a figure img {
		max-width: 100px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar a p {
		font-size: 17px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar h2 {
	    max-width: 385px;
	    font-size: 26px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem figure {
	    max-width: 115px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem figure img {
	    max-width: 115px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem p {
		font-size: 25px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas ul li {
	    font-size: 15px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas {
    	max-width: 380px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .botao-fechar {
	    text-align: center;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa h2 {
	    max-width: 364px;
	    padding: 12px;
	    font-size: 17px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario .form-menor {
    	max-width: 278px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form label {
	    max-width: 170px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form .input-menor {
	    max-width: 170px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario .form-maior {
	    margin: 20px auto;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form input {
    	max-width: 300px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa h2 {
	    max-width: 364px;
	    padding: 12px;
	    font-size: 17px;
	}
}

@media(max-width: 320px) {

	.pgPrivacidade .secao-contato .contato {
	    max-width: 115px;
	}
	.pgPrivacidade .secao-contato .contato p {
	    font-size: 22px;
	}
	.pgPrivacidade .secao-contato .contato span {
    	font-size: 16px;
	}
	.pgPrivacidade .secao-contato .duvida h2 {
	    font-size: 27px;
	}
	.pgPrivacidade .secao-contato .duvida p {
	    font-size: 20px;
	}
	.pgPrivacidade .secao-ajuda {
    	max-width: 290px;
	}
	.pgPrivacidade .sidebar ul li nav a {
    	padding-left: 40px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even)::before {
		position: absolute;
	    left: 12px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd)::before {
		position: absolute;
        left: 12px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(even)::before {
		position: absolute;
	    left: 12px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd)::before {
		position: absolute;
        left: 12px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(even)::before {
		position: absolute;
	    left: 12px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd)::before {
		position: absolute;
        left: 12px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even):hover:before,.pgPrivacidade .sidebar ul li .privacidade a:nth-child(even):focus:before {
		position: absolute;
	    left: 12px;
	}
	.pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd):hover:before, .pgPrivacidade .sidebar ul li .privacidade a:nth-child(odd):focus:before {
		position: absolute;
        left: 12px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(even):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(even):focus:before {
		position: absolute;
	    left: 12px;
	}
	.pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd):hover:before, .pgPrivacidade .sidebar ul li .ajuda a:nth-child(odd):focus:before {
		position: absolute;
        left: 12px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(even):hover:before,.pgPrivacidade .sidebar ul li .parceria a:nth-child(even):focus:before {
		position: absolute;
	    left: 12px;
	}
	.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd):hover:before,.pgPrivacidade .sidebar ul li .parceria a:nth-child(odd):focus:before {
		position: absolute;
        left: 12px;
	}
	.pgPrivacidade .secao-quero-vender h3 {
    	font-size: 25px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .botao-envie-agora button {
	    max-width: 289px;
	    font-size: 29px;
	    height: 70px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar a figure img {
    	max-width: 85px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar {
		max-width: 269px;
		padding: 10px;
	}
	.pgPrivacidade .secao-quero-vender .envie-agora .agendar-casa {
    	margin: 10px auto;
	}
	.pgPrivacidade .secao-quero-vender .saiba-como a .etiqueta img {
	    max-width: 75px;
	}
	.pgPrivacidade .secao-quero-vender .saiba-como a .caminhao img {
	    max-width: 90px;
	}
	.pgPrivacidade .secao-quero-vender .saiba-como a p {
	    font-size: 20px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar h2 {
	    max-width: 253px;
	    font-size: 20px;
        padding: 12px 0;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas {
    	max-width: 260px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .botao-fechar button {
		padding: 4px;
		font-size: 20px;
		max-width: 136px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem figure {
    	max-width: 100px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem figure img {
    	max-width: 100px;
	}
	.pgPrivacidade .pg-posso-enviar .secao-posso-enviar .area-pecas-aceitas .pecas-aceitas .pecas .imagem p {
    	font-size: 22px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa h2 {
	    max-width: 265px;
	    padding: 10px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa h2 {
	    max-width: 265px;
	    padding: 10px;
	    font-size: 17px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .area-formulario .formulario form input {
    	max-width: 255px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .fechar {
    	max-width: 160px;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .solicitar {
	    max-width: 160px;
	    margin: 10px auto;
	}
	.pgPrivacidade .pecas-em-casa .secao-pecas-em-casa .fechar-solicitar .botao button {
	    max-width: 160px;
	    padding: 4px 0;
	    font-size: 18px;
	}
}