/*var(--pretoPrincipal);

 var(--rosaPrincipal);*/


.categoria{
	color: var(--rosaPrincipal);
}

.categoria .filtro{
	width: 100%;
	border: solid 3px var(--rosaPrincipal);
    text-align: center;
    padding: 15px;
    display: none;
}
.categoria .filtro:hover{
	background-color: var(--rosaPrincipal);
   
}
.categoria .filtro a{
	text-decoration: none;
	cursor: pointer;
	font-size: var(--fontSizepTitulo); 
    color: var(--cinzaPrincipal);
}
.categoria .filtro a:hover{
	color: #fff;
}
	.categoria .filtros{
		max-width: 250px;
        padding: 10px;
        margin: 0 auto;
	}

		.categoria .filtros h3{
			margin-bottom: 40px;
            text-transform: uppercase;
            color: var(--pretoPrincipal);
		    font-size: 24;
		    text-align: center;
		}

		.categoria .filtros ul,li{
			margin: 0;
		    padding: 0;
		    border: 0;
		    outline: none;
		    list-style: none;
		}
			.categoria .filtros ul .filtros-titulo-pai {
				border: solid 3px var(--rosaPrincipal);
    			color: var(--pretoPrincipal);
			}
				
				.categoria .filtros ul .filtros-titulo-pai h5{
				   font-weight: 700;
                   font-size: 15px;
                   text-transform: uppercase;
                   color: var(--cinzaPrincipal);
                   padding: 0 3px;


				}
				.categoria .filtros ul .filtros-titulo-pai h5 i{
				    padding: 0 10px;

				}
				
			.categoria .filtros ul  .lista-filtro-filho{
				margin-bottom: 20px;
			}

				.categoria .filtros ul  .lista-filtro-filho .filho-item{
					display: block;
					padding-top: 5px;		
				}

					.categoria .filtros ul  .lista-filtro-filho .filho-item ul{
						border: 1px solid transparent;
    					border-radius: 20px;
						
					}
						.categoria .filtros ul  .lista-filtro-filho .filho-item ul:hover{
							background-color: var(--rosaPrincipal) ;
							color: #fff;
							border-color: var(--rosaPrincipal);
						}
						.categoria .filtros ul  .lista-filtro-filho .filho-item ul li{
						   padding-left: 15px;
  							    
						}
							.categoria .filtros ul  .lista-filtro-filho  .filho-item  ul li input{
							    cursor: pointer;
							}
							 .categoria .filtros ul  .lista-filtro-filho  .filho-item  ul li input[type=checkbox]{
							 	display: none;
							}
							.categoria .filtros ul  .lista-filtro-filho  .filho-item ul li  input[type=checkbox]  + label{
								display:inline-block;
							    width: 100%;
    							max-width: 192px;
    							cursor: pointer;

							    
							}
							.categoria .filtros ul  .lista-filtro-filho  .filho-item ul li label{
							    font-weight: 400;
							    font-size: 14px;					

							}
								.categoria .filtros ul  .lista-filtro-filho  .filho-item ul li label span{
/*									color: var(--rosaPrincipal);
*/									font-weight: 700;			
								}
									.categoria .filtros ul  .lista-filtro-filho  .filho-item ul li label span:hover{
													
									}

 .modal-filtro{ 
     	background-color: #f2838380;
	    padding: 10px 4px;
	    display: inline-block;
	    width: 100%;
	    height: 100%;
	    font-size: 15px;
	    position: fixed;
	    top: 0;
        } 
        .modal-filtro .filtros{ 
        	max-width: 456px;
        	background-color: #fff;
        	overflow: scroll;
        	overflow-x: hidden;
        	 max-height: 604px;
        }

		.modal-filtro .filtros h3{
			margin-bottom: 40px;
            text-transform: uppercase;
            color: var(--pretoPrincipal);
		    font-size: 24;
		    text-align: center;
		}

		.modal-filtro .filtros ul,li{
			margin: 0;
		    padding: 0;
		    border: 0;
		    outline: none;
		    list-style: none;
		}
			.modal-filtro .filtros ul .filtros-titulo-pai {
				border: solid 3px var(--rosaPrincipal);
    			color: var(--pretoPrincipal);
			}
				
				.modal-filtro .filtros ul .filtros-titulo-pai h5{
				   font-weight: 700;
                   font-size: 15px;
                   text-transform: uppercase;
                   color: var(--cinzaPrincipal);
                   padding: 0 3px;


				}
				.modal-filtro .filtros ul .filtros-titulo-pai h5 i{
				    padding: 0 10px;

				}
				
			.modal-filtro .filtros ul  .lista-filtro-filho{
				margin-bottom: 20px;
			}

				.modal-filtro .filtros ul  .lista-filtro-filho .filho-item{
					display: block;
					padding-top: 5px;		
				}

					.modal-filtro .filtros ul  .lista-filtro-filho .filho-item ul{
						border: 1px solid transparent;
    					border-radius: 20px;
						
					}
						.modal-filtro .filtros ul  .lista-filtro-filho .filho-item ul:hover{
							background-color: var(--rosaPrincipal) ;
							color: #fff;
							border-color: var(--rosaPrincipal);
						}
						.modal-filtro .filtros ul  .lista-filtro-filho .filho-item ul li{
						   padding-left: 15px;
  							    
						}
							.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item  ul li input{
							    cursor: pointer;
							}
							 .modal-filtro .filtros ul  .lista-filtro-filho  .filho-item  ul li input[type=checkbox]{
							 	display: none;
							}
							.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item ul li  input[type=checkbox]  + label{
								display:inline-block;
							    width: 100%;
    							max-width: 192px;
    							cursor: pointer;

							    
							}
							.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item ul li label{
							    font-weight: 400;
							    font-size: 14px;					

							}
								.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item ul li label span{
/*									color: var(--rosaPrincipal);
*/									font-weight: 700;			
								}
									.modal-filtro .filtros ul  .lista-filtro-filho  .filho-item ul li label span:hover{
													
									}
	.modal-filtro .filtros .fecharModalSideBar {
      position: absolute;
      top: 2%;
      right: 2%;
      width: 30px;
      height: 30px;
      color: #fff;
      font-size: 30px;
    }
    .modal-filtros .filtros .fecharModalSideBar:hover {
      cursor: pointer;
      color: #FF0000;
      transition:color .5s ;
      -webkit-transition:color .5s ;
      -moz-transition:color .5s ;
      -o-transition:color .5s ;
    }

	


@media (max-width: 991px) {
	.categoria .filtro{
	
    display: block;
    }
    .categoria .filtros{
	
    display: none;
    }

    .abrirFiltros{
    	display: block!important;
    }
   .categoria .filtros h3{
   	    margin-bottom: 16px;

   }


}
