section.spotsProdutos{

}
	section.spotsProdutos h6{
	
	}
	section.spotsProdutos ul.spots{
		list-style: none;
		padding: 0;
		margin:0;
		text-align: center;
	}
		section.spotsProdutos ul.spots li{
			width: 100%;
			max-width: 23.3%;
			min-width: 200px;
			display: inline-block;
		    margin: 10px 3px 60px;
		}
			section.spotsProdutos ul.spots li a{
	
			}
				section.spotsProdutos ul.spots li figure{
					padding: 0;
					margin: 0;
					height: 380px;
					overflow: hidden;
				}
					section.spotsProdutos ul.spots li figure img{
						display: block;
						width: 100%;
						height: auto;
					}
				section.spotsProdutos ul.spots li h2{
					font-family:var(--fontRobotoSlab);
					font-size: var(--fontSizepTitulo);
					text-transform: uppercase;
					margin: 10px 0 0px;
				}
				section.spotsProdutos ul.spots li .precos{

				}
				section.spotsProdutos ul.spots li .precos{

				}
					section.spotsProdutos ul.spots li .precos .parcelamento{
						color:#7d7c7c;
						font-family: var(--fontRobotoSlab);
						display: block;
						text-align: center;
						font-size: var(--fontSizeParcelamento);
					}
					section.spotsProdutos ul.spots li .precos strong{
						font-family: var(--fontRobotoSlab);
						display: block;
						text-align: center;
						font-size: var(--fontSizepPreco);
						color: var(--rosaPrincipal);
						margin-bottom: 10px;
					}
				section.spotsProdutos ul.spots li .btnComprar{

				}
					section.spotsProdutos ul.spots li .btnComprar input{

					}


@media(max-width: 1199px) {
 section.spotsProdutos ul.spots li figure{
		height: 278px;
	}
}

@media (max-width: 991px) {
	
	section.spotsProdutos ul.spots li h2{
		font-size: var(--fontSizeTituloResponsivo);
	}
	section.spotsProdutos ul.spots li .precos strong{
		font-size: var(--fontSizepPrecoResponsivo);
	}
}

