*{
	margin:0;
	padding: 0;
}
/* TOPO */
	header{

	}

  .topo{
   
    display: block;
    width: 100%;
    background: var(--pretoPrincipal);
    top: 0;
    background-color: var(--rosaPrincipal);
   
/*    margin-bottom: 7px;
*/
  }
    .topo:before{ 
    	content: "";
	    display: block;
	    position: absolute;
	    background: url(../img/fundo-detalhe.png);
	    top: 0;
	    width: 100%;
	    max-width: 1098px;
	    min-height: 139px;
	    background-repeat: no-repeat!important;
	    background-attachment: fixed!important;  
    }

    .topo .menuContatoTopo .navbar {
	        margin-bottom: 0; 
	        min-height: 40px; 
	        } 
	       .topo .menuContatoTopo .navbar .navbar-header{
	        width: 100%;
	       } 
	    
	        .topo .menuContatoTopo .navbar .navbar-header nav{
	         
	        }  
	            .topo .menuContatoTopo .navbar .navbar-header nav ul{
		            width: 100%;
		            text-align: right;
	            } 

	            .topo .menuContatoTopo .navbar .navbar-header nav ul li{
	                display: inline-block;
	            }
	              .topo .menuContatoTopo .navbar .navbar-header nav ul li a{
		                font-family:  var(--fontRobotoCondedesed);
		                font-size: 14px;
		                color: var(--pretoPrincipal);
		                margin: 0;
		   				padding: 0;
		   				padding-right: 13px;	                
	              }
	              .topo .menuContatoTopo .navbar .navbar-header nav ul li a:hover{
	                	background: none;               
	              }
		              .topo .menuContatoTopo .navbar .navbar-header nav ul li a i{
		                	  font-family: "FontAwesome";             
		              }
	
		.topo .logo a{
		        
		}
		    .topo .logo img{
		         
		    }
	          
	    .topo .search{
	    	margin-top: 20px;
	    	padding-top: 40px;
	    	position: relative;
	       }      
		    .topo .search form{
		    }
			    .topo .search form .searchTopo{
			    }

				    .topo .search form .searchTopo input[type="text"]{
					    display: block;
					    width: 100%;
					    border: 3px solid;
					    border-radius: 10px;
					    height: 45px;
					    padding: 10px;
					    padding-left: 35px;
					    outline: none;
					    background: #fff;
				    }

				     .topo .search form .searchTopo  button{
				     	outline: none;
					    font-family: "FontAwesome";
					    position: absolute;
					    top: 39px;
					    border: 1px solid;
					    font-size: 18px;
					    color: #fff;
					    background: var(--pretoPrincipal);
					    border-radius: 100%;
					    width: 46px;
					    height: 46px;
					    right: -15px;
				    }


		 .topo .menuLoginTopo{
		 	margin-top: 5px;
	    }		    
			.topo .menuLoginTopo .areaLogin{
		    }
			    .topo .menuLoginTopo .areaLogin span{
			    	font-size: 13px;
			    } 
			    .topo .menuLoginTopo .areaLogin a{
			    	color: #fff;
				    font-weight: 700;
				}

		.topo .areaCliente{
			margin: 15px;
   			display: inline-block;
		    width: 100%;
		    text-align: right;
		    padding-right: 10px;
		    }
			.topo .areaCliente .carrinhoTopo{
				margin-right: 5px;
				display: inline-block;
			}
				.topo .areaCliente .carrinhoTopo .areaIcone{

				}
					.topo .areaCliente .carrinhoTopo .areaIcone a{
						border-color: #FFF;
					    background: var(--pretoPrincipal);
					    display: inline-block;
					    width: 38px;
					    height: 38px;
					    line-height: 37px;
					    text-align: center;
					    margin-top: 3px;
					    border-radius: 100%;
					    color: #fff;
					    outline: none;
					    border: 2px solid;
					    padding-left: 2px
					}	
						.topo .areaCliente .carrinhoTopo .areaIcone a i{
							font-size: 16px;
						} 
						.topo .areaCliente .carrinhoTopo .areaIcone a:hover{
							background: #fff;
							color: var(--pretoPrincipal); 
						}	

						
						    
			.topo .areaCliente .usuarioTopo{
 				display: inline-block;
    		}
				.topo .areaCliente .usuarioTopo .areaIcone{
					border: 1px solid transparent;
	
				}
					.topo .areaCliente .usuarioTopo .areaIcone a{
						border-color: #FFF;
					    background: var(--pretoPrincipal);
					    display: inline-block;
					    width: 38px;
					    height: 38px;
					    line-height: 37px;
					    text-align: center;
					    margin-top: 3px;
					    border-radius: 100%;
					    color: #fff;
					    outline: none;
					    border: 2px solid;
					}	
						.topo .areaCliente .usuarioTopo .areaIcone a i{
							font-size: 16px;
						} 

						.topo .areaCliente .usuarioTopo .areaIcone a:hover{
							background: #fff;
							color: var(--pretoPrincipal); 
						}	  
			
	.topo .menuCategoriaDesktop{
/*		background:#fff;
*/	    margin-top: 20px;

	}
		.topo .menuCategoriaDesktop .navbar{
	      	margin: 0
		 }
		    .topo .menuCategoriaDesktop .navbar {
				margin-bottom: 0;
				min-height: 54px;
				margin-top: 18px;
				max-width: 1143px;
				margin: 0 auto;
		    } 
		       .topo .menuCategoriaDesktop .navbar .navbar-header{
		        float: initial;
	        	width: 100%;
		       } 
		    
		        .topo .menuCategoriaDesktop .navbar .navbar-header nav{
		        	border-top: initial;
			        -webkit-box-shadow: initial;
			        box-shadow: initial
		         
		        }  
		          .topo .menuCategoriaDesktop .navbar .navbar-header nav ul{
		            float: initial;
		            width: 100%;
		            text-align: left;
		            font-size: 0;
		          } 
		            .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li{
		              float: initial;
	             	 display: inline-block;
		            }
		                .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li a{
		              		font-family:  var(--fontRobotoSlab);
			                font-size: 17px;
			                text-transform: uppercase;
			                color: var(--pretoPrincipal);
			                 
		                }
			            .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li a:hover{
			                color: #fff;
			                background: var(--rosaPrincipal)!important; 
			                transition:All .5s ease;
			                -webkit-transition:All .5s ease;
			                -moz-transition:All .5s ease;
			                -o-transition:All .5s ease;
		                }
		                .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li a:active {
		                    color: var(--pretoPrincipal);
		                }
		                .topo .menuCategoriaDesktop .navbar .navbar-header nav ul li a:focus {
		                    color: var(--pretoPrincipal);
		                    background-color: #fff;
		                }




/* TOPO VERSÃO MOBILE */

  .topo .menu-mobile {
    display: none;
    width: 100%;
    background-color: var(--rosaPrincipal);
    max-height: 143px;
    position: fixed;

  }
 	.topo .menu-mobile .menuCategoriaMobile {
		width: 100%;
		text-align: left;
		margin: 5px 5px 0px 5px;		    

		}

	    .topo .menu-mobile .menuCategoriaMobile .botaoMenu{
	    		margin-right: 5px;
				display: inline-block;
			}
		    .topo .menu-mobile .menuCategoriaMobile .botaoMenu i{
			    line-height: 47px;
			    text-align: center;
			    margin-top: 3px;
			    color: #fff;
			    outline: none;
			    font-size: 36px;
			    cursor: pointer;
		    }			
		.topo  .menu-mobile .menuCategoriaMobile .logoTopo {
		    display: inline-block;    
		}
			.topo  .menu-mobile .menuCategoriaMobile  .logoTopo .areaImg a{
				        
			}
				.topo  .menu-mobile .menuCategoriaMobile .logoTopo .areaImg a img{
				    width: 100%;
					max-width: 104px;
					display: block;
				}
	          
	    .topo .menu-mobile .search{
	    	max-width: 365px;
		    margin: 0 auto;
		    display: none;
	    }   	     
		    .topo .menu-mobile .search form{
		    }
			    .topo .menu-mobile .search form .searchTopo{

			    }   .topo .menu-mobile .search form .searchTopo input[type="text"]{
					    
					    width: 100%;
					    border: 2px solid;
					    height: 38px;
					    padding: 10px;
					    padding-left: 26px;
					    outline: none;
					    background: #fff;
					    margin-bottom: 18px;
				    }
	    .abrirPesquisa{
		    display: block!important;
	    } 

		.topo .menu-mobile .menuLoginTopo{
		 	margin-top: 5px;
	    }		    
			.topo .menu-mobile .menuLoginTopo .areaLogin{
		    }
			    .topo .menu-mobile .menuLoginTopo .areaLogin span{
			    	font-size: 13px;
			    } 
			    .topo .menu-mobile .menuLoginTopo .areaLogin a{
			    	color: #fff;
				    font-weight: 700;
				}

		.topo .menu-mobile .areaCliente{
		    width: 100%;
		    text-align: right;
		    margin: 5px 5px 0px 5px;
		    padding-right: 5px;
		    
		 }
			.topo .menu-mobile .areaCliente .carrinhoTopo{
				margin-right: 5px;
				display: inline-block;
			}
				.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone{

				}
					.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone a{
						border-color: #FFF;
					    background: var(--pretoPrincipal);
					    display: inline-block;
					    width: 50px;
					    height: 50px;
					    line-height: 47px;
					    text-align: center;
					    margin-top: 3px;
					    border-radius: 100%;
					    color: #fff;
					    outline: none;
					    border: 2px solid;
					    padding-left: 2px
					}	
						.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone a i{
							font-size: 22px;
						} 
						.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone a:hover{
							background: #fff;
							color: var(--pretoPrincipal); 
						}	
           .topo .menu-mobile .areaCliente .usuarioTopo{
 				display: inline-block;
    		}
				.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone{
					border: 1px solid transparent;
	
				}
					.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a{
						border-color: #FFF;
					    background: var(--pretoPrincipal);
					    display: inline-block;
					    width: 50px;
					    height: 50px;
					    line-height: 47px;
					    text-align: center;
					    margin-top: 3px;
					    border-radius: 100%;
					    color: #fff;
					    outline: none;
					    border: 2px solid;
					}	
						.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a i{
							font-size: 22px;
						} 

						.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a:hover{
							background: #fff;
							color: var(--pretoPrincipal); 
						}	  
		
						    
			.topo .menu-mobile  .areaCliente .pesquisaTopo{
 				display: inline-block;
    		}
				.topo .menu-mobile  .areaCliente .pesquisaTopo{
					border: 1px solid transparent;
	
				}
					.topo .menu-mobile .pesquisaTopo .areaIcone  button{
						outline: none;
					    border: 2px solid;
					    font-size: 18px;
					    color: #fff;
					    background: var(--pretoPrincipal);
					    border-radius: 100%;
					    width: 50px;
					    height: 50px;
					}	
						.topo .menu-mobile .pesquisaTopo .areaIcone  button{
							font-size: 22px;
						} 
.menuCategoriaMobile .menuMobile{
			display: none;
			position: relative;
		}
		.menuCategoriaMobile .abrirMenuCategoriaMobile {
		display: block;

	    }
	 .menuCategoriaMobile .menuMobile .fecharMenu{
	 		display: block;
		    width: 100%;
		    max-width: 55px;
		    min-height: 25px;
		    position: absolute;
		    top: 17%;
		    margin-top: -50px;
		    background: #bed4da00;
		    font-size: 13px;
		    color: #fff;
		    text-align: center;
		    outline: none;
		    z-index: 1;
		    left: 4px;
		    border: none;
	    }
		.menuCategoriaMobile .menuMobile .fecharMenu:hover{
				background-color: #e67373;
	            border: 1px solid;
			}

	.menuCategoriaMobile .menuMobile .item-quadro{
			position: relative;
	        width: 100%;
		    background-color: #f28383;
		    border: 1px solid #fff;
		    height: calc(50vh - 0px);

		}
		.menuCategoriaMobile .menuMobile .item-quadro a .caixa-dentro{
					position: absolute;
				    top: 50%;
				    left: 50%;			
				    transform: translate(-50%, -50%);		   
				    width: 80%;
				    text-align: center;
				}
				.menuCategoriaMobile .menuMobile .item-quadro a .caixa-dentro i{
						color: #fff;
					    font-size: 49px;
					}
					.menuCategoriaMobile .menuMobile .item-quadro a .caixa-dentro h5{
						color: #fff;
					    font-size: 21px;
					    font-weight: 300;
					    letter-spacing: 0.03em;

					}
					 

	@media (max-width: 991px) {
		.topo .menu-mobile{
			position: fixed;
		}
		.topo .menu-mobile .pesquisaTopo .areaIcone button{
			width: 40px;
	    	height: 40px;
		}

		.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a{
			width: 40px;
	    	height: 40px;
	    	line-height: 42px;

		}	.topo .menu-mobile .areaCliente .carrinhoTopo .areaIcone a{
				width: 40px;
			    height: 40px;
			    line-height: 45px;
		}
			.topo .menu-mobile .areaCliente .usuarioTopo .areaIcone a i{
			    font-size: 20px;
			}
			.topo .menu-mobile .menuCategoriaMobile .logoTopo .areaImg a img{
				max-width: 96px;
			}

			.topo .menu-mobile .search{
				padding: 0 10px;
			}
			.topo .menu-mobile{
				display: block;
				z-index: 2;
			}
			.menuCategoria{
				display: none;
			}

	    }



		