<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<link rel="stylesheet" href="css/bannerBeneficios.css" />

<section class="bannerBeneficios">
	<div class="container">	
		<h6 class="hidden">Beneficios</h6>

		<div class="todosBeneficios">
			<figure>
				<img src="img/informacoes.png">
	        </figure>
	    </div>
    </div>	
</section>


		


		
