<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<link rel="stylesheet" href="css/bannerDestaque.css" />


<section class="bannerDestaque">
	<h6 class="hidden"> banner Destaque</h6>
	<a href="">
		<img src="img/banner-destaque.png">
    </a>
</section>

		
