<link rel="stylesheet" href="css/carrosselDestaque.css" />
<head>

		<!-- META -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content=""/>
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="" />

		<!-- TÍTULO -->
		<title>Ak Black</title>

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="css/hover.css"/>
		<link rel="stylesheet" href="css/site.css" />

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/geral.js"></script>

		<!-- FAVICON -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" /> 

	</head>

<!-- CARROSSEL DESTAQUE -->
<section class="carrosselDetaque">
	
	<h6 class="hidden">Carrossel de destaque</h6>

	<div id="carrosselDestaque" class="carrosselDestaque">
		
		<!-- ITEM -->
		<div class="item">
			<a href="" target="_blank">
				<figure>
					<img src="img/banner-carrossel-destaque.png">
				</figure>
			</a>
		</div>

		<!-- ITEM -->
		<div class="item">
			<a href="" target="_blank">
				<figure>
					<img src="img/banner-carrossel-destaque.png">
				</figure>
			</a>
		</div>
		
		<!-- ITEM -->
		<div class="item">
			<a href="" target="_blank">
				<figure>
					<img src="img/banner-carrossel-destaque.png">
				</figure>
			</a>
		</div>

	</div>

</section>

