<head>
	<meta charset="UTF-8">
</head>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css"/>
<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/geral.js"></script>

<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700" rel="stylesheet">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


<link rel="stylesheet" href="css/site.css" />
<link rel="stylesheet" href="css/carrosselPostsBlog.css" />
<div class="container">
	<section class="sessaoCarrosselPostsBlog">
		<h6 class="tituloSessaoCarrosselPost">Veja no blog</h6>
		
		<div class="botoesCarrosselPostsBlog">
			<button id="botaoEsquerdaCarrosselPostBlog"></button>
			<button id="botaoDireitaCarrosselPostBlog"></button>
		</div>
		<div id="carrosselPostsBlog" class="carrosselPostsBlog">
			<div class="item">
				<article class="postBlog">
					<div class="imagemDestaquePost">
						<figure>
							<img src="img/v1.png" alt="Imagem">
						</figure>
						<div class="leiaMaisPostsBlog">
							<a href="#">Leia Mais</a>
						</div>
					</div>
					<div class="informacoesPost">
						<h3 class="categoriaPost">Categoria - </h3><span class="dataPost">01/01/2000</span>
						<h2 class="tituloPost">Nome do post</h2>
						<p class="descricaoPost">Um pouco sobre o post, tres linhas por post, utilizando um branco um pouco mais fraco, diversos textos, muito bacana mesmo pessoal.</p>
					</div>
				</article>
			</div>
			
			<div class="item">
				<article class="postBlog">
					<div class="imagemDestaquePost">
						<figure>
							<img src="img/v2.png" alt="Imagem">
						</figure>
						<div class="leiaMaisPostsBlog">
							<a href="#">Leia Mais</a>
						</div>
					</div>
					<div class="informacoesPost">
						<h3 class="categoriaPost">Categoria - </h3><span class="dataPost">01/01/2000</span>
						<h2 class="tituloPost">Nome do post</h2>
						<p class="descricaoPost">Um pouco sobre o post, tres linhas por post, utilizando um branco um pouco mais fraco, diversos textos, muito bacana mesmo pessoal.</p>
					</div>
				</article>
			</div>
			
			<div class="item">
				<article class="postBlog">
					<div class="imagemDestaquePost">
						<figure>
							<img src="img/v2.png" alt="Imagem">
						</figure>
						<div class="leiaMaisPostsBlog">
							<a href="#">Leia Mais</a>
						</div>
					</div>
					<div class="informacoesPost">
						<h3 class="categoriaPost">Categoria - </h3><span class="dataPost">01/01/2000</span>
						<h2 class="tituloPost">Nome do post</h2>
						<p class="descricaoPost">Um pouco sobre o post, tres linhas por post, utilizando um branco um pouco mais fraco, diversos textos, muito bacana mesmo pessoal.</p>
					</div>
				</article>
			</div>

			<div class="item">
				<article class="postBlog">
					<div class="imagemDestaquePost">
						<figure>
							<img src="img/v1.png" alt="Imagem">
						</figure>
						<div class="leiaMaisPostsBlog">
							<a href="#">Leia Mais</a>
						</div>
					</div>
					<div class="informacoesPost">
						<h3 class="categoriaPost">Categoria - </h3><span class="dataPost">01/01/2000</span>
						<h2 class="tituloPost">Nome do post</h2>
						<p class="descricaoPost">Um pouco sobre o post, tres linhas por post, utilizando um branco um pouco mais fraco, diversos textos, muito bacana mesmo pessoal.</p>
					</div>
				</article>
			</div>
		</div>
	</section>
</div>

