<head>
	<meta charset="UTF-8">
</head>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css"/>
<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/geral.js"></script>

<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


<link rel="stylesheet" href="css/footer.css" />
<link rel="stylesheet" href="css/site.css" />
<footer class="rodape">
	<section class="newslletter">
		<h6>Quer receber novidades, dicas e promoções do mundo da moda? <span class="inscrevaNewsletter">inscreva-se em nossa newslletter</span></h6>

		<div class="fomrularioNewslletter">
			<input type="text" placeholder="Nome" name="">
			<input type="text" placeholder="E-mail" name="">
			<input type="submit" value="Enviar" name="">
		</div>
	</section>
	
	<div class="divisorNewsletter">
		<img src="img/imagemArcoNewsletter.png" alt="imagem">
	</div>
	<div class="infoRodape">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="logo">
						<a href="#">
							<img src="img/logoAmanda.png" alt="Logo AK">
						</a>
					</div>
				</div>
				<div class="col-md-2">
					<div class="menu">
						<strong>Institucional</strong>
						<nav>
							<a href="">Quem somos</a>
							<a href="">Nossa marca</a>
							<a href="">Trabalhe com a gente</a>
						</nav>
					</div>
				</div>
				<div class="col-md-2">
					<div class="menu">
						<strong>Minha conta</strong>
						<nav>
							<a href="">Meus dados</a>
							<a href="">Meus pedidos</a>
							<a href="">Cadastrar</a>
						</nav>
					</div>
				</div>
				<div class="col-md-2">
					<div class="menu">
						<strong>Atendimento</strong>
						<nav>
							<a href="">Precisa de ajuda? Clique aqui</a>
						</nav>
					</div>
				</div>
				<div class="col-md-3">
					<div class="menu">
						<strong>Redes sociais</strong>
						<ul class="listaRedesSociais">
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
							<li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
						</ul>
						<div class="paginaFacebok">
							<div class="fb-page" data-href="https://www.facebook.com/AmandaKarolineOficial/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/AmandaKarolineOficial/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AmandaKarolineOficial/">Ak</a></blockquote></div>
						</div>
					</div>
				</div>
			</div>
			<div class="fomasPagamentos">
				<span>Formas de pagamentos</span>
				<ul>
					<li><img src="img/americanexpress.png" alt="American Express"></li>
					<li><img src="img/cabal.png" alt="Cabal"></li>
					<li><img src="img/dinnersclub.png" alt="Dinners Club"></li>
					<li><img src="img/hipercard.png" alt="Hipercard"></li>
					<li><img src="img/mastercard.png" alt="Mastercard"></li>
					<li><img src="img/sodexo.png" alt="Sodexo"></li>
					<li><img src="img/visa.png" alt="Visa"></li>
				</ul>
			</div>
		</div>
	</div>

	
</footer>

<div class="copyright">
	<h6>Feito com <i class="fas fa-heart"></i> pela HC Desenvolvimentos</h6>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v3.1&appId=2223341341276737&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>