
<!-- FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
	<link rel="stylesheet" type="text/css" href="css/hover.css"/>
 	<link rel="stylesheet" href="css/menuCategoria.css" />
	<link rel="stylesheet" href="css/site.css" />

	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/geral.js"></script>

	<!-- FAVICON -->
	<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" /> 



<section class="menuCategoria">
	<div class="container">
		<div class="menu">
			<nav>
				<a href="#">
					<div class="borda">
						<img src="img/icone-brinco-menuCategoria.png">
						<h2>Acessório</h2>
					</div>
				</a>
				<a href="#">
					<div class="borda">
						<img src="img/icone-sapato-menuCategoria.png">
						<h2>Sapatos</h2>
					</div>
				</a>
				<a href="#">
					<div class="borda">
						<img src="img/icone-cabide-menuCategoria.png">
						<h2>Roupas</h2>
				    </div>
				</a>
				<a href="#">
					<div class="borda">
						<img src="img/icone-liquidacao-menuCategoria.png">
						<h2>Liquidação</h2>
				    </div>
				</a>
				<a href="#">
					<div class="borda">
						<img src="img/brilho-menuCategoria.png">
						<h2>Novos</h2>
					</div>
				</a>
			</nav>
		</div>
	</div>		
</section>	


	