<link rel="stylesheet" href="css/mosaico_B.css" />
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />

<section class="mosaico_B" id="mosaico_B">
	<h6>Acessórios</h6>

	<div class="mosaicoB">
		<div class="containerFull">
			<div class="row">
				<div class="col-sm-5">
					<div class="categoriaLeft">
						
						<a href="">
							<figure class="modelo_A primeiro" style="background:url(img/brincos.png)">
								<img src="img/brincos.png">
								<h2>Brincos</h2>
							</figure>
						</a>

						<a href="">
							<figure class="modelo_B" style="background:url(img/pulseiras.png)">
								<img src="img/pulseiras.png">
								<h2>Pulseiras</h2>
							</figure>
						</a>

					</div>
				</div>
				<div class="col-sm-7">
					<div class="categoriaRight">
						
						<a href="">
							<figure class="modelo_A" style="background:url(img/colares.png)">
								<img src="img/colares.png">
								<h2>Colares</h2>
							</figure>
						</a>

						<a href="">
							<figure class="modelo_A" style="background:url(img/bolsas.png)">
								<img src="img/bolsas.png">
								<h2>Bolsas</h2>
							</figure>
						</a>

						<a href="">
							<figure class="modelo_A" style="background:url(img/cintas.png)">
								<img src="img/cintas.png">
								<h2>Cintos</h2>
							</figure>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>


</section>

	