<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css"/>
<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/geral.js"></script>

<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700" rel="stylesheet">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


<link rel="stylesheet" href="css/site.css" />
<link rel="stylesheet" href="css/pg-produto.css" />

<div class="pg-produto">
	<div class="container">
		<nav>
			<a href="">AKBlack <i class="fas fa-angle-right"></i></a>
			<a href="">Roupas <i class="fas fa-angle-right"></i></a>
			<a href="">Vestido <i class="fas fa-angle-right"></i></a>
			<a href="" class="selecionado">Vestido Florido <i class="fas fa-angle-right"></i></a>
		</nav>

		<div class="produto">
			<div class="row">
				<div class="col-md-2">
					<div class="galeria">

						<figure>
							<img src="img/vestidoBriana-2.jpg" alt="Imagem">
						</figure>
						<figure>
							<img src="img/vestidoBriana-1.jpg" alt="Imagem">
						</figure>
						<figure>
							<img src="img/vestidoBriana-3.jpg" alt="Imagem">
						</figure>
						<figure>
							<img src="img/vestidoBriana-4.jpg" alt="Imagem">
						</figure>
					</div>
				</div>

				<div class="col-md-6 col-sm-6">
					<figure class="imgImagemDestacada zoom" id='zoom_produto'>
						<img src="img/vestidoBriana-2.jpg" alt="Imagem">
					</figure>
					<div class="galeriaResponsiva" style="display: none;">
						<div id="carrosselGaleriaProdutos" class="carrosselGaleriaProdutos">
							<div class="item">
								<img src="img/imagemProdutoPequena.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena2.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena3.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena3.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena2.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena3.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena3.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena2.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena3.png" alt="Imagem">
							</div>
							<div class="item">
								<img src="img/imagemProdutoPequena3.png" alt="Imagem">
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<article class="descircaoProduto">
						<div class="nomeProduto">
							<h1>Vestido Florido</h1>
							<span>Ref: 123321123</span>
						</div>	
						<div class="precoProduto">
							<strong>R$30,00</strong>
							<span>3x de R$10,00 sem juros</span>
						</div>
						<div class="descricaoCores">
							<div class="row">
								<div class="col-xs-6">
									<div class="coresProduto">
										<span>Cor: Verde</span>
										<ul>
											<li><span style="background-color: #ffff00"><h6 class="hidden">Amarelo</h6></span>	</li>
											<li><span style="background-color: #000000"><h6 class="hidden">Preto</h6></span>	</li>
											<li><span style="background-color: #39d3a3"><h6 class="hidden">Verde</h6></span>	</li>
											<li><span style="background-color: #ff0400"><h6 class="hidden">Vermelho</h6></span>	</li>
										</ul>
									</div>
								</div>
								<div class="col-xs-6">
									<div class="tamanhoProduto">
										<span>Tamanho</span>
										<ul>
											<li><span>P</span></li>
											<li><span>M</span></li>
											<li><span>G</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="breveDescricaoProduto">
							<p>O vestido verde florido é muito bacana, ainda mais com o cinto!</p>
							<a class="verMaisDescricaoProduto">Ver mais.</a>
						</div>
					</article>

					<div class="botaoComprar">
						<input type="submit" value="Comprar" name="">
					</div>

					<div class="compartilharProduto">
						<ul class="listaRedesSociais">
						 	<li><a href="#" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
						 	<li><a href="#" class="instagram"></a></li>
						 	<li><a href="#" class="pinterest"><i class="fab fa-pinterest-p"></i></a></li>
						 	<li><a href="#" class="twitter"><i class="fab fa-twitter"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="divisor"></div>
		
		<section class="detalhesProduto">
			<h6>Detalhes</h6>

			<p>Vestido Verde</p>
			<p>Modelo florido</p>
			<p>Com cinto</p>
			<p>Marca: </p>
			<p>Tecido: Pano</p>
			<p>Composição: 98% algodão e 2% elastano</p>
			<p>Modelo veste tamanho: 36</p>
		</section>

		<section class="produtosRelacionados">
			<h6>Veja também</h6>
			<button id="esquerdaProdutosRelacionados"></button>
			<button id="direitaProdutosRelacionados"></button>
			
			<div id="carrosselProdutosRelacionados" class="carrosselProdutosRelacionados">
				<div class="item">
					<div class="spot">
						<a href="">
							<figure>
								<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
							</figure>
						</a>
						<h2>Conjunto de roupas</h2>
						<div class="precos">
							<span class="parcelamento">6x de R$10,00</span>
							<strong>R$60,00</strong>
						</div>
						<div class="btnComprar">
							<input value="Comprar" name="" type="submit">
						</div>			
					</div>
				</div>

				<div class="item">
					<div class="spot">
						<a href="">
							<figure>
								<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
							</figure>
						</a>
						<h2>Conjunto de roupas</h2>
						<div class="precos">
							<span class="parcelamento">6x de R$10,00</span>
							<strong>R$60,00</strong>
						</div>
						<div class="btnComprar">
							<input value="Comprar" name="" type="submit">
						</div>			
					</div>
				</div>
				
				<div class="item">
					<div class="spot">
						<a href="">
							<figure>
								<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
							</figure>
						</a>
						<h2>Conjunto de roupas</h2>
						<div class="precos">
							<span class="parcelamento">6x de R$10,00</span>
							<strong>R$60,00</strong>
						</div>
						<div class="btnComprar">
							<input value="Comprar" name="" type="submit">
						</div>			
					</div>
				</div>

				<div class="item">
					<div class="spot">
						<a href="">
							<figure>
								<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
							</figure>
						</a>
						<h2>Conjunto de roupas</h2>
						<div class="precos">
							<span class="parcelamento">6x de R$10,00</span>
							<strong>R$60,00</strong>
						</div>
						<div class="btnComprar">
							<input value="Comprar" name="" type="submit">
						</div>			
					</div>
				</div>
			</div>
		</section>
		<div class="informacoesLoja">
			<figure>
				<img src="img/informacoes.png" alt="Informações">
			</figure>
		</div>
	</div>
</div>

		