<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css"/>
<link rel="stylesheet" type="text/css" href="css/site.css"/>

<!-- PÁGINA MARCAS -->
<div class="pg-marcas" style="display:">
		
		<!-- SEÇÃO DE MARCAS -->
		<section class="secao-marcas">
			<nav>
				<a href="#">AKBlack</a>
				<a href="#">Marcas</a>

			</nav>

			<!-- ÁREA RENNER -->
			<div class="renner">

				<div class="row">
					
					<div class="col-sm-6">
						<figure class="logo-renner">
							<img src="img/logo-renner.png" alt="Logo Renner">
						</figure>
					</div>
					<div class="col-sm-3">
						<figure class="modelo-renner">
							<img src="img/modelo-renner.png" alt="Modelo Renner">
						</figure>
					</div>
					<div class="col-sm-3">
						<figure class="roupas-renner">
							<img src="img/roupas-renner.png" alt="Ropas Renner">
						</figure>
						<button type="button" class="botao-confira-renner">CONFIRA AQUI</button>
					</div>
				</div>
			</div>

			<!-- ÁREA PERNABUCANAS -->
			<div class="pernabucanas">
				<div class="row">
					<div class="col-sm-3">
						<figure class="roupas-pernabucanas">
							<img src="img/roupas-pernabucanas.png" alt="Roupas Pernabucanas">
						</figure>
						<button class="botao-confira-pernabucanas">CONFIRA AQUI</button>
					</div>
					<div class="col-sm-3">
						<figure class="modelo-pernabucanas">
							<img src="img/modelo-pernabucanas.png" alt="Modelo Pernabucanas">
						</figure>
					</div>
					<div class="col-sm-6">
						<figure class="logo-pernabucanas">
							<img src="img/logo-pernabucanas.png" alt="Logo Pernabucanas">
						</figure>
					</div>
				</div>
			</div>

			<!-- ÁREA KANUI -->
			<div class="kanui">
				<div class="row">
					<div class="col-sm-6">
						<figure class="logo-kanui">
							<img src="img/logo-kanui.png" alt="Logo Kanui">
						</figure>
					</div>
					<div class="col-sm-3">
						<figure class="modelo-kanui">
							<img src="img/modelo-kanui.png" alt="Modelo Kanui">
						</figure>
					</div>
					<div class="col-sm-3">
						<figure class="roupas-kanui">
							<img src="img/roupas-kanui.png" alt="Roupas Kanui">
						</figure>
						<button class="botao-confira-kanui">CONFIRA AQUI</button>
					</div>
				</div>
			</div>

		</section>
</div>