<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css"/>
<link rel="stylesheet" type="text/css" href="css/site.css"/>

<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/geral.js"></script>

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

<!-- PÁGINA DE PRIVACIDADE -->
<div class="pgPrivacidade" style="display:">
	<div class="container">

		<div class="row">
			<div class="col-md-3">
				<div class="menu-caminho">
					<nav>
						<a href="#">AKBlack <i class="fas fa-angle-right"></i></a>
						<a href="#" class="selecionado">Autoatendimento<i class="fas fa-angle-right"></i></a>
					</nav>
				</div>
			</div>

			<div class="col-md-9">
				<h1>Precisa de um <strong>Help</strong>?</h1>
			</div>
		</div>

		<div class="row">
			<!-- SIDEBAR MENU ÁREAS PRINCIPAIS -->
			<div class="col-md-3">

				<div class="sidebar">

					<ul>
						<li>
							<!-- GRUPO PRIVACIDADE -->
							<nav class="privacidade">
								<h5>PRIVACIDADE</h5>
								<a href="#">Termos e Condições</a>
								<a href="#">Políticas de privacidade</a>
								<a href="#">Compra segura</a>
							</nav>
						</li>

						<li>
							<!-- GRUPO AJUDA E SUPORTE -->
							<nav class="ajuda">
								<h5>AJUDA E SUPORTE</h5>
								<a href="#">Cadastro</a>
								<a href="#">Status do pedido</a>
								<a href="#">Trocas e devoluções</a>
								<a href="#">Formas de pagamento</a>
							</nav>
						</li>

						<li>
							<!-- GRUPO DE PARCERIAS -->
							<nav class="parceria">
								<h5>PARCERIAS</h5>
								<a href="#">Quero vender!</a>
								<a href="#">Quero ser modelo!</a>
							</nav>
						</li>

					</ul>
				</div>
			</div>

			<!-- ÁREA TEXTO TERMOS E CONDIÇÕES(PRIVACIDADE) -->
			<div class="col-md-9" style="display: none">

				<!-- SEÇÃO DE TERMOS DE TERMOS E CONDIÇÕES -->
				<section class="secao-termos">
					<h6 class="hidden">SEÇÃO DE TERMOS E CONDIÇÕES</h6>

					<h2>Termos e Condições Gerais</h2>

					<span>Estes Termos e Condições Gerais aplicam-se à compra de produtos oferecidos pela AKBlack, por meio do site</span>

					<p class="comprador">O Comprador, que pretenda utilizar os serviços da Akblack deverá aceitar os Termos e Condiçoes Gerais e todas as demais políticas.</p>

					<p class="aceitacao">A ACEITAÇÃO DESTES TERMOS E CONDIÇÕES GERAIS É ABSOLUTAMENTE INDISPENSÁVEL À COMPRA DE QUALQUER MERCADORIA.</p>

					<p>O usuário deverá ler, certificar-se de haver entendido e aceitar todas as condições estabelecidas nos Termos e Condições Gerais, assim como nos demais documentos incorporados aos mesmos por referência, antes de seu cadastro como Usuário do site da Akblack.</p>

					<h6>01 - Do Objetivo</h6>
					<p class="sem-espaco">Os serviços objeto dos presentes Termos e Condições Gerais consistem exclusivamente no comercio on-line de produtos seminovos  nas condições explicitadas nas fotos do respectivo produto ou de produtos novos, que nestes casos serão sempre descritos como “novo”. </p>
					<p>Desta feita, o cliente tem inteira ciência do produto a ser adquirido e entende que nem sempre uma ilustração transmite fielmente os detalhes do produto como a exatidão de cor ou o estado do produto, portanto tem direito a troca do produto se assim o desejar conforme política de troca, não podendo porém responsabilizar a Akblack por vícios, ou diferenças no produto. A compra do produto pressupõe o aceite dos Termos e Condições Gerais.</p>

					<h6>02 - Dúvidas sobre o produto</h6>
					<p>Para sanar quaisquer dúvidas antes da realização da compra é disponibilizado um canal por email : contato@amandakaroline.com.br, que poderá ser atendido em até 48 hs.</p>

					<h6>03 - Da compra</h6>
					<p>A compra será realizada somente pelos clientes já cadastrados, e com relação ao estoque, que em geral se limita a uma peça por produto, só é garantida a venda quando o cliente tiver confirmado o fechamento da compra. Ou seja, enquanto o produto estiver na sacola de compras não há garantia de estoque.</p>

					<h6>04 - Do Pagamento</h6>
					<p class="sem-espaco">O pagamento poderá ser feito através de boleto bancário, onde é oferecido 5% de desconto, através de depósito bancário ou através do Pag Seguro, onde serão aceitos todos os cartões de crédito sinalizados no rodapé das páginas do site</p>
					<p>Para pagamentos com o cartão de credito, o comprador será direcionado para o site da Pag Seguro, onde deverá fazer o seu cadastro ou caso o possua, utilizar um já existente.</p>

					<h6>05 - Da Entrega</h6>
					<p class="sem-espaco">A entrega do produto só será iniciado após o recebimento de confirmação do pagamento. A entrega será feita pela empresa Correios (ECT) e o prazo de entrega será informado no ato da compra, mas varia de 5 a 10 dias dependendo da localidade. </p>
					<p>O frete se dará por conta do cliente pago juntamente no fechamento da compra.</p>

					<h6>06 - Da Troca</h6>
					<p class="sem-espaco">O cliente atesta o conhecimento da política de troca da Akblack, onde não haverá devolução em espécie, mas sim através de crédito no valor da compra podendo ser utilizado pelo prazo máximo de 30 dias, desde que atenda os critérios descritos na política de troca.</p>
					<p>Neste caso o frete se dará exclusivamente por conta do cliente.</p>

					<h6>07 - Das Alterações</h6>
					<p>Akblack  poderá alterar, a qualquer tempo, estes Termos e Condições Gerais, visando seu aprimoramento e melhoria dos serviços prestados. Os novos Termos e Condições entrarão em vigor 10 dias após publicados no site.</p>
				</section>
			</div>

			<!-- ÁREA TEXTO CADASTRO(AJUDA E SUPORTE) -->
			<div class="col-md-9" style="display: none">
				
				<!-- SEÇÃO AJUDA E SUPORTE -->
				<section class="secao-ajuda">
					<h6 class="hidden">SEÇÃO AJUDA E SUPORTE</h6>
					<ul>
						<li>
							<h2 class="pergunta">ESQUECI MINHA SENHA:</h2>
							<div class="resposta ativo">
								<span>Acesse a seção Meus Dados e clique em Esqueci Minha Senha. Clique apenas uma vez e aguarde vamos enviar uma mensagem com a sua senha para o e-mail que você tem cadastrado na Akblack. Não esqueça: é importante manter o seu e-mail sempre atualizado.</span>
							</div>
						</li>
						
						<li>
							<h2 class="pergunta">MEU CADASTRO:</h2>
							<div class="resposta ativo">
								<span>Acesse a seção Meus Dados e preencha o formulário. Assim, sua informações ficam registradas e, na visita seguinte, você só vai precisar fazer o login. Muito fácil.</span>
							</div>
						</li>
						
						<li>
							<h2 class="pergunta">ALTERAR CADASTRO:</h2>
							<div class="resposta ativo">
								<span>Em caso de mudança de endereço ou qualquer alteração em outras informações, não esqueça de atualizar o seu cadastro. </span>
								<span>Para fazer isso, acesse Meus Dados, faça seu login e atualize o que quiser.</span>
							</div>
						</li>
					</ul>
				</section>
			</div>

			<!-- ÁREA TEXTO QUERO VENDER(PARCERIAS) -->
			<div class="col-md-9" style="display: ">

				<!-- SEÇÃO QUERO VENDER -->
				<section class="secao-quero-vender">
					<h6 class="hidden">SEÇÃO QUERO VENDER</h6>
					
					<h3>Veja como é simples e fácil vender com a gente!</h3>

					<div class="banner-principal-passos">
						<figure>
							<img src="img/primeira-linha.png" alt="Banner passo-a-passo">
						</figure>
					</div>
					
					<div class="saiba-como">
						<div class="row">
							<div class="col-sm-3">
								<a href="#">
									<figure class="etiqueta">
										<img src="img/etiqueta.png" alt="Etiqueta">
									</figure>
									<p>O QUE POSSO ENVIAR?</p>
								</a>
							</div>

							<div class="col-sm-3">
								<a href="#">
									<figure class="caminhao">
										<img src="img/caminhao.png" alt="Caminhão">
									</figure>
									<p>COMO ENVIAR?</p>
								</a>
							</div>

							<div class="col-sm-3">
								<a href="#">
									<figure class="dinheiro">
										<img src="img/dinheiro.png" alt="Dinheiro">
									</figure>
									<p>QUANTO RECEBO?</p>
								</a>
							</div>

							<div class="col-sm-3">
								<a href="#">
									<figure class="duvida">
										<img src="img/duvida.png" alt="Dúvida">
									</figure>
									<p>DÚVIDAS</p>
								</a>
							</div>
						</div>
					</div>

					<div class="envie-agora">
						<div class="botao-envie-agora">
							<button type="submit">ENVIE AGORA!</button>
						</div>
						<div class="row">

							<div class="col-sm-6">
								<div class="agendar agendar-casa">
									<a href="#">
										<figure class="casa">
											<img src="img/casa.png" alt="Casa">
										</figure>
										<p>AGENDAR RETIRADA EM CASA</p>
									</a>
									<span>*Apenas Guarapuava</span>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="agendar agendar-caixa">
									<a href="#">
										<figure class="caixa">
											<img src="img/caixa.png" alt="Caixa">
										</figure>
										<p>ENVIAR PELOS CORREIOS</p>
									</a>
									<span>*Frete Grátis</span>
								</div>
							</div>

						</div>
					</div>
				</section>
			</div>
		</div>

		<!-- SEÇÃO CONTATO PG PRIVACIDADE -->
		<section class="secao-contato">
			<h6 class="hidden">CONTATO PÁGINA PRIVACIDADE</h6>

			<div class="duvida">
				<h2>AINDA TA COM DÚVIDA?</h2>
				<p>Abre o coração pra gente.</p>
			</div>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="contato chat">
						<figure>
							<img src="img/chat.png" alt="Chat">
						</figure>
						<p>CHAT</p>
						<span>Eaí, quer TC?</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contato email">
						<figure>
							<img src="img/envelope.png" alt="E-mail">
						</figure>
						<p>E-MAIL</p>
						<span>É só mandar :)</span>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="contato fone">
						<figure>
							<img src="img/telefone.png" alt="Telefone">
						</figure>
						<p>TELEFONE</p>
						<span>(11)1111-1111</span>
					</div>
				</div>
			</div>
		</section>

	</div>

	<!-- PG POP-UP O QUE POSSO ENVIAR -->
	<div class="pg-posso-enviar" style="display: none">
		<div class="container">

			<section class="secao-posso-enviar">
				<h6 class="hidden">SEÇÃO O QUE POSSO ENVIAR</h6>
				
				<h2>O QUE POSSO ENVIAR?</h2>

				<div class="area-pecas-aceitas">
					<div class="row">
						<div class="pecas-aceitas">
							<div class="col-sm-6">

								<div class="pecas aceitamos">
									<div class="imagem aceitamos">
										<figure>
											<img src="img/aceitamos.png" alt="">
										</figure>
										<p>ACEITAMOS</p>
									</div>
									<ul>
										<li>Roupas e acessórios femininos(bolsas, sapatos, óculos, relógios, cintos, carteiras, colares, lenços);</li>
										<li>Peças originais novas, semi-novas e usadas em perfeitos estado, limpas e lavadas;</li>
										<li>Biquínis e peças fitness somente novas e com etiqueta e nunca usados.</li>
									</ul>
								</div>

							</div>
							<div class="col-sm-6">

								<div class="pecas nao-aceitamos">
									<div class="imagem nao-aceitamos">
										<figure>
											<img src="img/nao-aceitamos.png" alt="">
										</figure>
										<p>NÃO ACEITAMOS</p>
									</div>
									<ul>
										<li>Itens com defeitos, manchas, marcas de uso ou peças faltantes;</li>
										<li>Peças íntimas e pijamas;</li>
										<li>Peças sem etiqueta da marca/tamanho;</li>
										<li>Biquínis usados/sem etiqueta.</li>
									</ul>
								</div>

							</div>
						</div>
					</div>
				</div>
				<div class="botao-fechar">
					<button type="button">FECHAR</button>
				</div>
			</section>
		</div>
	</div>

	<!-- PG POP-UP PEÇAS EM CASA FORMULÁRIO -->
	<div class="pecas-em-casa" style="display: none">
		<div class="container">

			<!-- SEÇÃO RETIRAR PEÇAS EM CASA -->
			<section class="secao-pecas-em-casa">
				<h6 class="hidden">SEÇÃO RETIRAR PEÇAS EM CASA</h6>

				<h2>AGENDAMENTO DE RETIRADA DE PEÇAS EM CASA</h2>

				<div class="area-formulario">
					<div class="row">
						<div class="formulario">
							<div class="col-sm-3">
								<form action="" class="form-menor">
									<label>Quantidade de peças</label>
									<input class="input-menor" type="text" placeholder="Min 15">
								</form>
							</div>
							<div class="col-sm-9">
								<div class="row">

									<div class="col-sm-6">
										<form action="" class="form-maior">
											<input class="input-maior" type="text" name="nome" placeholder="Nome">
											<input class="input-maior" type="text" name="email" placeholder="E-mail">
											<input class="input-maior" type="text" name="senha" placeholder="Senha">
											<input class="input-maior" type="text" name="cep" placeholder="Cep">
											<input class="input-maior" type="text" placeholder="Outro">
										</form>
									</div>

									<div class="col-sm-6">
										<form action="" class="form-maior">
											<input class="input-maior" type="text" name="sobrenome" placeholder="Sobrenome">
											<input class="input-maior" type="text" name="email" placeholder="Confirme o e-mail">
											<input class="input-maior" type="text" name="senha" placeholder="Confirme a senha">
											<input class="input-maior" type="text" name="cep" placeholder="Rua">
											<input class="input-maior" type="text" placeholder="Outro">
										</form>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="fechar-solicitar">
					<div class="row">

						<div class="col-sm-6">
							<div class="botao fechar">
								<button type="button">FECHAR</button>
							</div>
						</div>

						<div class="col-sm-6">
							<div class="botao solicitar">
								<button type="submit">SOLICITAR</button>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>