<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css"/>
<link rel="stylesheet" type="text/css" href="css/site.css"/>

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">


<!-- PÁGINA QUEM SOMOS -->
<div class="pg-quem-somos" style="display:">
	<div class="container">
		<nav>
			<a href="#" class="selecionado">AKBlack<i class="fas fa-angle-right"></i></a>
			<a href="#" class="selecionado">Quem Somos<i class="fas fa-angle-right"></i></a>
		</nav>
		<figure class="banner-principal">
			<img src="img/primeiro-banner.png" alt="Banner destaque quem somos">
		</figure>
		<article class="primeiro-texto">
			<p><strong>A Akblack não é apenas um brechó: é um projeto que busca a visibilidade das</strong><em> Modelos de Guarapuava.A loja virtual têm preços acessíveis e um meio de </em>fotografar as modelos e  estar divulgando através de anúncios, banners, fotos feitas com as roupas e assim fazendo com que as pessoas cheguem até as elas. Além de tudo, o projeto Ak é totalmente ecológico e ajuda a população de <strong>Guarapuava, as entregas serão feitas por ciclistas que contrataremos, gerando algum empregos. As embalagens serão feitas de papel reciclável.</strong></p>
		</article>
		<div class="atributos">
			<div class="row">
				<div class="modelo-atributos">
					<div class="col-sm-5">
						<figure>
							<img src="img/modelo-quem-somos.png" alt="Modelo quem somos">
						</figure>
					</div>
					<div class="col-sm-7">
						<ul>
							<li>segurança</li>
							<li>conforto</li>
							<li>qualidade</li>
							<li>acessível</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div class="frase-destaque">
			<div class="row">
				<div class="frase-modelos correctionSkew">
					<div class="col-sm-7">
						<div class="frase">
							<p>VIVER</p><p class="p2">PARA SER</p><p class="p3">FRASE BACANA</p><p class="p4">SUPER MOTIVACIONAL</p><p>LOREM IPSUM</p>
						</div>
					</div>
					<div class="col-sm-5">
						<div class="imagens">
							<figure class="modelo modelo2">
								<img class="imagem img-modelo2" src="img/modelo2-quem-somos.png" alt="Modelo quem somos">
							</figure>
							<figure class="modelo modelo3">
								<img class="imagem img-modelo3" src="img/modelo3-quem-somos.png" alt="Modelo quem somos">
							</figure>
						</div>
					</div>
				</div>
			</div>
		</div>
	<div class="container">
		<article class="segundo-texto">
			<p><strong class="strong">Nós buscamos todo dia tornar realidade o ideal</strong></p><p>de que é possível se vestir bem gastando pouco. E nessa busca, a gente descobriu que dá para alcançar um ideal ainda mais audacioso: é possível, mesmo em tempos difíceis, se divertir com a moda. E se descobrir com a moda. <strong>Dá também para comprar roupas sem peso na consciência: de estourar o limite do cartão, ou de explorar o trabalho duro de alguém.</strong></p>
		</article>
	</div>
</div>