	<head>

		<!-- META -->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta property="og:title" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="" />
		<meta property="og:image" content=""/>
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="" />

		<!-- TÍTULO -->
		<title>Ak Black</title>

		<!-- FONTS -->
		<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
		<link rel="stylesheet" type="text/css" href="css/hover.css"/>
        <link rel="stylesheet" href="css/sidebarCategoria.css" />
		<link rel="stylesheet" href="css/site.css" />

		<!-- JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/geral.js"></script>

		<!-- FAVICON -->
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" /> 

	</head>

	<!-- SIDEBAR  -->
	<div class="categoria" >
		<div class="container">
			<div class="filtro">
				<a id="filtroMobile" class=filtroMobile"">  Filtrar</a>
			</div>
			<div class="row">

				<div class="col-sm-3">
					<aside>

						<div class="filtros">

						<h3>Shorts</h3>

						<ul>

							<!-- FILTRO DAS CATEGORIAS EXISTENTES -->
							<li class="filtros-pai">

								<div class="filtros-titulo-pai">
									<h5> <i class="fas fa-user"></i>Tamanho</h5>
								</div>
									<ul class="lista-filtro-filho">

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria">
													<label for="checkbox-categoria">
														<span>P</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria2">
													<label for="checkbox-categoria2">
														<span>PP</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria3">
													<label for="checkbox-categoria3">
														<span>M</span>
													</label>
												</li>
											</ul>
										</li>
										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria4">
													<label for="checkbox-categoria4">
														<span>G</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria5">
													<label for="checkbox-categoria5">
														<span>GG</span>
													</label>
												</li>
											</ul>
										</li>


									</ul>
									
								</li>
					            <!-- FILTRO DAS CATEGORIAS EXISTENTES -->
								<li class="filtros-pai">
									<div class="filtros-titulo-pai">
										<h5><i class="fas fa-dollar-sign"></i>Preço</h5>
								   </div>
									<ul class="lista-filtro-filho">

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria6">
													<label for="checkbox-categoria6">
														<span>Menos de R$20</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria7">
													<label for="checkbox-categoria7">
														<span>R$20 - R$50</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria8">
													<label for="checkbox-categoria8">
														<span>R$50 - R$100</span>
													</label>
												</li>
											</ul>
										</li>
										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria9">
													<label for="checkbox-categoria9">
														<span>R$100 - R$200</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria10">
													<label for="checkbox-categoria10">
														<span>Acima de R$200</span>
													</label>
												</li>
											</ul>
										</li>


									</ul>
									
								</li>
								
								<!-- FILTRO DAS CATEGORIAS EXISTENTES -->
								<li class="filtros-pai">
									<div class="filtros-titulo-pai">
										<h5> <i class="fas fa-palette"></i>Cores</h5>
								   </div>
									<ul class="lista-filtro-filho">

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria11">
													<label for="checkbox-categoria11">
														<span>Amarelo</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria12">
													<label for="checkbox-categoria12">
														<span>Azul</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria13">
													<label for="checkbox-categoria13">
														<span>Branco</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria14">
													<label for="checkbox-categoria14">
														<span>Bege</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria15" >
													<label for="checkbox-categoria15">
														<span>Vermelho</span>
													</label>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</aside>


			    </div>
			    <div class="col-sm-9">
			    	<div style="background-color: pink;"></div>
			    </div>
			</div>
        </div>
    </div>   
    <div class="modal-filtro" style="display:none;" >
    	<aside>
       
			<div class="filtros">
            <span class="fecharModalSideBar">
				<i class="far fa-times-circle"></i>
	    	</span>
						<h3>Shorts</h3>

						<ul>

							<!-- FILTRO DAS CATEGORIAS EXISTENTES -->
							<li class="filtros-pai">

								<div class="filtros-titulo-pai">
									<h5> <i class="fas fa-user"></i>Tamanho</h5>
								</div>
									<ul class="lista-filtro-filho">

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria">
													<label for="checkbox-categoria">
														<span>P</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria2">
													<label for="checkbox-categoria2">
														<span>PP</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria3">
													<label for="checkbox-categoria3">
														<span>M</span>
													</label>
												</li>
											</ul>
										</li>
										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria4">
													<label for="checkbox-categoria4">
														<span>G</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria5">
													<label for="checkbox-categoria5">
														<span>GG</span>
													</label>
												</li>
											</ul>
										</li>


									</ul>
									
								</li>
					            <!-- FILTRO DAS CATEGORIAS EXISTENTES -->
								<li class="filtros-pai">
									<div class="filtros-titulo-pai">
										<h5><i class="fas fa-dollar-sign"></i>Preço</h5>
								   </div>
									<ul class="lista-filtro-filho">

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria6">
													<label for="checkbox-categoria6">
														<span>Menos de R$20</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria7">
													<label for="checkbox-categoria7">
														<span>R$20 - R$50</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria8">
													<label for="checkbox-categoria8">
														<span>R$50 - R$100</span>
													</label>
												</li>
											</ul>
										</li>
										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria9">
													<label for="checkbox-categoria9">
														<span>R$100 - R$200</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria10">
													<label for="checkbox-categoria10">
														<span>Acima de R$200</span>
													</label>
												</li>
											</ul>
										</li>


									</ul>
									
								</li>
								
								<!-- FILTRO DAS CATEGORIAS EXISTENTES -->
								<li class="filtros-pai">
									<div class="filtros-titulo-pai">
										<h5> <i class="fas fa-palette"></i>Cores</h5>
								   </div>
									<ul class="lista-filtro-filho">

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria11">
													<label for="checkbox-categoria11">
														<span>Amarelo</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria12">
													<label for="checkbox-categoria12">
														<span>Azul</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria13">
													<label for="checkbox-categoria13">
														<span>Branco</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria14">
													<label for="checkbox-categoria14">
														<span>Bege</span>
													</label>
												</li>
											</ul>
										</li>

										<!-- ITEM DA CATEGORIA -->
										<li class="filho-item">
											<ul>
												<li>
													<input type="checkbox" name="checkbox-categoria" value="0" id="checkbox-categoria15" >
													<label for="checkbox-categoria15">
														<span>Vermelho</span>
													</label>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</div>
		</aside>
		

    	
    </div> 
    <script type="text/javascript">
    	//--- FUNÇÃO DE CLIQUE PARA O FILTRO
 	$(".filtro").click(function(e) {


	   	// $('.filtros').toggleClass('abrirFiltros');
  	}); 

  		//SCRIPT ABRIR FORMULÁRIO DE PARCERIA
	$( ".filtro" ).click(function() {
  		$(".modal-filtro").fadeIn();
  		// $("body").addClass('travarScroll');
  	});

	$( ".fecharModalSideBar" ).click(function() {
  		$(".modal-filtro").fadeOut();
  	});
  	

    </script>


