<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700|Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Roboto+Condensed:300,300i,400,400i,700,700i|Roboto+Slab:100,300,400,700" rel="stylesheet">

<!-- CSS -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/owl.carousel.css" />
<link rel="stylesheet" type="text/css" href="css/hover.css"/>
<link rel="stylesheet" href="css/site.css" />
<link rel="stylesheet" href="css/spotProduto.css" />


<!-- JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/geral.js"></script>


<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-9">			
<section class="spotsProdutos">
	<h6 class="hidden">Produtos</h6>
	<ul class="spots">
		
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		<li class="spot">
			<a href="">
				<figure>
					<img src="img/hoverImg.png" data-imgFoco="img/imgProduto.png" data-imgPadrao="img/hoverImg.png" alt="">
				</figure>
			</a>
			<h2>Conjunto de roupas</h2>
			<div class="precos">
				<span class="parcelamento">6x de R$10,00</span>
				<strong>R$60,00</strong>
			</div>
			<div class="btnComprar">
				<input value="Comprar" name="" type="submit">
			</div>			
		</li>
		
		
	</ul>
</section>
</div>
</div>

		